In [3]:
import pandas as pd

df=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\country_year_avg_temp.csv")
df

           Country  Year  Avg_Temperature
0      Afghanistan  1838        17.708125
1      Afghanistan  1840        13.413455
2      Afghanistan  1841        13.997600
3      Afghanistan  1842        15.154667
4      Afghanistan  1843        13.756250
...            ...   ...              ...
45998        Åland  2009         6.489083
45999        Åland  2010         4.861917
46000        Åland  2011         7.170750
46001        Åland  2012         6.063917
46002        Åland  2013         6.229750

[46003 rows x 3 columns]

In [4]:
# Count the number of unique countries in the dataset
num_countries = df['Country'].nunique()

# Print the result
print("Number of countries in the dataset:", num_countries)

Number of countries in the dataset: 243

In [5]:
import pandas as pd

# Load the dataset
df=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\country_year_avg_temp.csv")

# Filter the dataset by the year 1850 and later
df_after_1850 = df[df['Year'] >= 1850]

# Group the filtered data by the country column
grouped_by_country = df_after_1850.groupby('Country')

# Print the first 5 rows of each group
for name, group in grouped_by_country:
    print(name)
    print(group.head(5))

Afghanistan
        Country  Year  Avg_Temperature
11  Afghanistan  1850        13.326083
12  Afghanistan  1851        13.605667
13  Afghanistan  1852        13.541167
14  Afghanistan  1853        13.455833
15  Afghanistan  1854        13.605750
Africa
    Country  Year  Avg_Temperature
175  Africa  1850        23.532417
176  Africa  1856        23.036000
177  Africa  1857        23.324364
178  Africa  1858        23.573417
179  Africa  1859        23.722333
Albania
     Country  Year  Avg_Temperature
437  Albania  1850        11.734667
438  Albania  1851        12.315500
439  Albania  1852        12.744583
440  Albania  1853        12.811167
441  Albania  1854        11.951667
Algeria
     Country  Year  Avg_Temperature
664  Algeria  1850        22.587333
665  Algeria  1851        22.733333
666  Algeria  1852        22.856583
667  Algeria  1853        22.770583
668  Algeria  1854        22.481167
American Samoa
            Country  Year  Avg_Temperature
828  American Samoa  1867        26.360333
829  American Samoa  1868        25.948429
830  American Samoa  1869        26.319300
831  American Samoa  1870        25.941333
832  American Samoa  1871        26.236667
Andorra
      Country  Year  Avg_Temperature
1070  Andorra  1850        10.651750
1071  Andorra  1851        10.297083
1072  Andorra  1852        11.503750
1073  Andorra  1853        10.111333
1074  Andorra  1854        10.682417
Angola
     Country  Year  Avg_Temperature
1234  Angola  1857        21.086000
1235  Angola  1858        21.511375
1236  Angola  1859        21.189400
1237  Angola  1860        21.121556
1238  Angola  1861        20.879400
Anguilla
       Country  Year  Avg_Temperature
1392  Anguilla  1850        26.106333
1393  Anguilla  1851        26.261250
1394  Anguilla  1852        26.026000
1395  Anguilla  1853        26.241500
1396  Anguilla  1854        26.165333
Antarctica
         Country  Year  Avg_Temperature
1556  Antarctica  1950           29.235
1557  Antarctica  1951           29.235
1558  Antarctica  1952           29.235
1559  Antarctica  1954           29.235
1560  Antarctica  1955           29.235
Antigua And Barbuda
                  Country  Year  Avg_Temperature
1630  Antigua And Barbuda  1850        25.933250
1631  Antigua And Barbuda  1851        26.060917
1632  Antigua And Barbuda  1852        25.855167
1633  Antigua And Barbuda  1853        26.076583
1634  Antigua And Barbuda  1854        25.983583
Argentina
        Country  Year  Avg_Temperature
1794  Argentina  1855        11.729250
1795  Argentina  1856        13.998750
1796  Argentina  1857        14.221083
1797  Argentina  1858        14.015667
1798  Argentina  1859        14.414583
Armenia
      Country  Year  Avg_Temperature
2001  Armenia  1850         7.793167
2002  Armenia  1851         9.011833
2003  Armenia  1852         8.326167
2004  Armenia  1853         8.725833
2005  Armenia  1854         7.824083
Aruba
     Country  Year  Avg_Temperature
2176   Aruba  1850        27.438167
2177   Aruba  1851        27.534833
2178   Aruba  1852        27.247167
2179   Aruba  1853        27.485750
2180   Aruba  1854        27.440333
Asia
     Country  Year  Avg_Temperature
2374    Asia  1850         6.586750
2375    Asia  1851         6.965583
2376    Asia  1852         6.792083
2377    Asia  1853         6.763250
2378    Asia  1854         7.209417
Australia
        Country  Year  Avg_Temperature
2538  Australia  1852        20.188500
2539  Australia  1853        20.958250
2540  Australia  1854        20.937200
2541  Australia  1855        20.798636
2542  Australia  1856        21.148333
Austria
      Country  Year  Avg_Temperature
2803  Austria  1850         5.536667
2804  Austria  1851         5.391250
2805  Austria  1852         6.502000
2806  Austria  1853         5.347667
2807  Austria  1854         5.695750
Azerbaijan
         Country  Year  Avg_Temperature
3009  Azerbaijan  1850        10.449167
3010  Azerbaijan  1851        11.594917
3011  Azerbaijan  1852        10.991000
3012  Azerbaijan  1853        11.221000
3013  Azerbaijan  1854        10.539417
Bahamas
      Country  Year  Avg_Temperature
3220  Bahamas  1850        25.127000
3221  Bahamas  1851        24.821500
3222  Bahamas  1852        24.543333
3223  Bahamas  1853        24.829333
3224  Bahamas  1854        24.785667
Bahrain
      Country  Year  Avg_Temperature
3389  Bahrain  1850        25.025167
3390  Bahrain  1851        25.696500
3391  Bahrain  1852        25.517750
3392  Bahrain  1853        25.540333
3393  Bahrain  1854        25.335167
Baker Island
           Country  Year  Avg_Temperature
3558  Baker Island  1850        24.730250
3559  Baker Island  1851        24.962500
3560  Baker Island  1852        24.844000
3561  Baker Island  1853        24.994667
3562  Baker Island  1854        24.952364
Bangladesh
         Country  Year  Avg_Temperature
3767  Bangladesh  1850        24.553167
3768  Bangladesh  1851        24.527417
3769  Bangladesh  1852        24.225167
3770  Bangladesh  1853        24.715750
3771  Bangladesh  1854        24.721667
Barbados
       Country  Year  Avg_Temperature
3941  Barbados  1850        25.995083
3942  Barbados  1851        26.020833
3943  Barbados  1852        25.941750
3944  Barbados  1853        26.149083
3945  Barbados  1854        26.008917
Belarus
      Country  Year  Avg_Temperature
4208  Belarus  1850         5.374083
4209  Belarus  1851         6.160333
4210  Belarus  1852         5.272833
4211  Belarus  1853         5.456250
4212  Belarus  1854         5.741833
Belgium
      Country  Year  Avg_Temperature
4475  Belgium  1850         8.778083
4476  Belgium  1851         8.940833
4477  Belgium  1852        10.084833
4478  Belgium  1853         8.297917
4479  Belgium  1854         9.294250
Belize
     Country  Year  Avg_Temperature
4662  Belize  1850        25.026583
4663  Belize  1851        24.674500
4664  Belize  1852        24.668417
4665  Belize  1853        24.267333
4666  Belize  1854        24.222250
Benin
     Country  Year  Avg_Temperature
4827   Benin  1850        26.482667
4828   Benin  1851        26.714083
4829   Benin  1852        25.999000
4830   Benin  1856        27.989000
4831   Benin  1857        25.902143
Bhutan
     Country  Year  Avg_Temperature
5011  Bhutan  1850        12.212727
5012  Bhutan  1851        11.754636
5013  Bhutan  1852        11.158500
5014  Bhutan  1853        11.652250
5015  Bhutan  1854        11.662333
Bolivia
      Country  Year  Avg_Temperature
5174  Bolivia  1855        19.533375
5175  Bolivia  1856        19.933417
5176  Bolivia  1857        19.865667
5177  Bolivia  1858        20.098750
5178  Bolivia  1859        20.793167
Bonaire, Saint Eustatius And Saba
                                Country  Year  Avg_Temperature
5344  Bonaire, Saint Eustatius And Saba  1850        26.688667
5345  Bonaire, Saint Eustatius And Saba  1851        26.789500
5346  Bonaire, Saint Eustatius And Saba  1852        26.547167
5347  Bonaire, Saint Eustatius And Saba  1853        26.774250
5348  Bonaire, Saint Eustatius And Saba  1854        26.698500
Bosnia And Herzegovina
                     Country  Year  Avg_Temperature
5611  Bosnia And Herzegovina  1850         9.625417
5612  Bosnia And Herzegovina  1851        10.021083
5613  Bosnia And Herzegovina  1852        10.535333
5614  Bosnia And Herzegovina  1853        10.285917
5615  Bosnia And Herzegovina  1854         9.859583
Botswana
       Country  Year  Avg_Temperature
5775  Botswana  1857        21.064917
5776  Botswana  1858        21.375083
5777  Botswana  1859        21.453500
5778  Botswana  1860        20.937909
5779  Botswana  1861        21.364000
Brazil
     Country  Year  Avg_Temperature
5950  Brazil  1850        24.211818
5951  Brazil  1851        24.342333
5952  Brazil  1852        24.359917
5953  Brazil  1853        24.370250
5954  Brazil  1854        24.465083
British Virgin Islands
                     Country  Year  Avg_Temperature
6125  British Virgin Islands  1850        25.855667
6126  British Virgin Islands  1851        26.006333
6127  British Virgin Islands  1852        25.738167
6128  British Virgin Islands  1853        25.973833
6129  British Virgin Islands  1854        25.890167
Bulgaria
       Country  Year  Avg_Temperature
6392  Bulgaria  1850         9.796500
6393  Bulgaria  1851        10.790333
6394  Bulgaria  1852        10.613500
6395  Bulgaria  1853        11.037750
6396  Bulgaria  1854        10.042083
Burkina Faso
           Country  Year  Avg_Temperature
6557  Burkina Faso  1850        27.491000
6558  Burkina Faso  1851        27.708250
6559  Burkina Faso  1852        25.260000
6560  Burkina Faso  1856        27.453500
6561  Burkina Faso  1857        27.236545
Burma
     Country  Year  Avg_Temperature
6740   Burma  1850        23.756091
6741   Burma  1851        23.449455
6742   Burma  1852        23.167250
6743   Burma  1853        23.554333
6744   Burma  1854        23.547667
Burundi
      Country  Year  Avg_Temperature
6904  Burundi  1850        19.311000
6905  Burundi  1856        19.265400
6906  Burundi  1857        19.144429
6907  Burundi  1858        19.594750
6908  Burundi  1859        19.697750
Cambodia
       Country  Year  Avg_Temperature
7062  Cambodia  1850        26.131083
7063  Cambodia  1851        26.285000
7064  Cambodia  1852        26.148917
7065  Cambodia  1853        26.368000
7066  Cambodia  1854        26.388000
Cameroon
       Country  Year  Avg_Temperature
7226  Cameroon  1856        24.499500
7227  Cameroon  1857        22.975857
7228  Cameroon  1858        23.772500
7229  Cameroon  1859        23.708200
7230  Cameroon  1860        23.926455
Canada
     Country  Year  Avg_Temperature
7426  Canada  1850        -5.536250
7427  Canada  1851        -5.337917
7428  Canada  1852        -5.358000
7429  Canada  1853        -5.590917
7430  Canada  1854        -5.545750
Cape Verde
         Country  Year  Avg_Temperature
7591  Cape Verde  1850        23.560833
7592  Cape Verde  1851        23.777583
7593  Cape Verde  1852        23.211000
7594  Cape Verde  1856        23.644167
7595  Cape Verde  1857        23.484273
Cayman Islands
             Country  Year  Avg_Temperature
7776  Cayman Islands  1850        26.761500
7777  Cayman Islands  1851        26.380583
7778  Cayman Islands  1852        26.172000
7779  Cayman Islands  1853        26.152583
7780  Cayman Islands  1854        26.121583
Central African Republic
                       Country  Year  Avg_Temperature
7940  Central African Republic  1856        25.580833
7941  Central African Republic  1857        23.834143
7942  Central African Republic  1858        24.827000
7943  Central African Republic  1859        24.557500
7944  Central African Republic  1860        24.795000
Chad
     Country  Year  Avg_Temperature
8088    Chad  1856        26.768000
8089    Chad  1857        26.446286
8090    Chad  1858        26.680625
8091    Chad  1859        27.066300
8092    Chad  1860        26.625545
Chile
     Country  Year  Avg_Temperature
8236   Chile  1855         7.070125
8237   Chile  1856         8.664083
8238   Chile  1857         8.645917
8239   Chile  1858         8.810250
8240   Chile  1859         9.245583
China
     Country  Year  Avg_Temperature
8416   China  1850         5.907167
8417   China  1851         5.782833
8418   China  1852         5.857500
8419   China  1853         5.997583
8420   China  1854         6.473083
Christmas Island
               Country  Year  Avg_Temperature
8585  Christmas Island  1850        25.158083
8586  Christmas Island  1851        25.345000
8587  Christmas Island  1852        25.226417
8588  Christmas Island  1853        25.346222
8589  Christmas Island  1854        25.254364
Colombia
       Country  Year  Avg_Temperature
8750  Colombia  1850        24.140500
8751  Colombia  1851        24.337833
8752  Colombia  1852        24.149583
8753  Colombia  1853        24.233083
8754  Colombia  1854        24.322167
Comoros
      Country  Year  Avg_Temperature
8922  Comoros  1850        24.870091
8923  Comoros  1853        25.104667
8924  Comoros  1854        25.271333
8925  Comoros  1855        25.185167
8926  Comoros  1856        24.965917
Congo
     Country  Year  Avg_Temperature
9064   Congo  1856        24.379500
9065   Congo  1857        23.265571
9066   Congo  1858        23.899875
9067   Congo  1859        23.893700
9068   Congo  1860        24.008909
Congo (Democratic Republic Of The)
                                 Country  Year  Avg_Temperature
9212  Congo (Democratic Republic Of The)  1850        23.007000
9213  Congo (Democratic Republic Of The)  1856        23.438400
9214  Congo (Democratic Republic Of The)  1857        22.729429
9215  Congo (Democratic Republic Of The)  1858        23.284750
9216  Congo (Democratic Republic Of The)  1859        23.404583
Costa Rica
         Country  Year  Avg_Temperature
9360  Costa Rica  1851        25.186167
9361  Costa Rica  1852        24.992167
9362  Costa Rica  1853        24.992417
9363  Costa Rica  1854        24.995500
9364  Costa Rica  1855        25.105167
Croatia
      Country  Year  Avg_Temperature
9626  Croatia  1850        10.555667
9627  Croatia  1851        10.793000
9628  Croatia  1852        11.412750
9629  Croatia  1853        10.992250
9630  Croatia  1854        10.818250
Cuba
     Country  Year  Avg_Temperature
9817    Cuba  1850        25.434667
9818    Cuba  1851        25.077167
9819    Cuba  1852        24.796750
9820    Cuba  1853        24.948667
9821    Cuba  1854        24.912167
Curaçao
      Country  Year  Avg_Temperature
9992  Curaçao  1850        26.867917
9993  Curaçao  1851        26.967000
9994  Curaçao  1852        26.700500
9995  Curaçao  1853        26.933750
9996  Curaçao  1854        26.876833
Cyprus
      Country  Year  Avg_Temperature
10215  Cyprus  1850        17.944583
10216  Cyprus  1851        18.895167
10217  Cyprus  1852        18.603333
10218  Cyprus  1853        19.337417
10219  Cyprus  1854        18.169167
Czech Republic
              Country  Year  Avg_Temperature
10482  Czech Republic  1850         7.057667
10483  Czech Republic  1851         7.122167
10484  Czech Republic  1852         8.147333
10485  Czech Republic  1853         6.494667
10486  Czech Republic  1854         7.190250
Côte D'Ivoire
             Country  Year  Avg_Temperature
10647  Côte D'Ivoire  1850        25.353583
10648  Côte D'Ivoire  1851        25.471000
10649  Côte D'Ivoire  1852        25.131000
10650  Côte D'Ivoire  1856        25.356167
10651  Côte D'Ivoire  1857        24.999636
Denmark
       Country  Year  Avg_Temperature
10831  Denmark  1850       -18.645000
10832  Denmark  1851       -18.148917
10833  Denmark  1852       -18.322667
10834  Denmark  1853       -18.472417
10835  Denmark  1854       -18.462667
Denmark (Europe)
                Country  Year  Avg_Temperature
11098  Denmark (Europe)  1850         7.231000
11099  Denmark (Europe)  1851         7.645667
11100  Denmark (Europe)  1852         8.251917
11101  Denmark (Europe)  1853         6.783500
11102  Denmark (Europe)  1854         7.813917
Djibouti
        Country  Year  Avg_Temperature
11262  Djibouti  1864        28.244833
11263  Djibouti  1865        23.479000
11264  Djibouti  1875        29.111625
11265  Djibouti  1876        28.123833
11266  Djibouti  1877        28.744333
Dominica
        Country  Year  Avg_Temperature
11413  Dominica  1850        25.619083
11414  Dominica  1851        25.700250
11415  Dominica  1852        25.567833
11416  Dominica  1853        25.769417
11417  Dominica  1854        25.652250
Dominican Republic
                  Country  Year  Avg_Temperature
11601  Dominican Republic  1850        25.250167
11602  Dominican Republic  1851        25.272583
11603  Dominican Republic  1852        24.898500
11604  Dominican Republic  1853        25.226833
11605  Dominican Republic  1854        25.177083
Ecuador
       Country  Year  Avg_Temperature
11765  Ecuador  1866        21.250800
11766  Ecuador  1867        21.575333
11767  Ecuador  1868        21.419500
11768  Ecuador  1869        22.459400
11769  Ecuador  1881        21.553500
Egypt
      Country  Year  Avg_Temperature
11931   Egypt  1850        21.808667
11932   Egypt  1851        22.358917
11933   Egypt  1852        22.324667
11934   Egypt  1853        22.762833
11935   Egypt  1854        22.156250
El Salvador
           Country  Year  Avg_Temperature
12109  El Salvador  1850        24.709917
12110  El Salvador  1851        24.524000
12111  El Salvador  1852        24.511000
12112  El Salvador  1853        24.157083
12113  El Salvador  1854        24.091083
Equatorial Guinea
                 Country  Year  Avg_Temperature
12273  Equatorial Guinea  1856        24.991167
12274  Equatorial Guinea  1857        23.679571
12275  Equatorial Guinea  1858        24.362500
12276  Equatorial Guinea  1859        24.322500
12277  Equatorial Guinea  1860        24.467000
Eritrea
       Country  Year  Avg_Temperature
12421  Eritrea  1864        26.348750
12422  Eritrea  1865        22.347000
12423  Eritrea  1875        26.587125
12424  Eritrea  1876        26.116667
12425  Eritrea  1877        26.749417
Estonia
       Country  Year  Avg_Temperature
12665  Estonia  1850         4.151750
12666  Estonia  1851         4.988500
12667  Estonia  1852         3.876833
12668  Estonia  1853         4.588250
12669  Estonia  1854         5.011417
Ethiopia
        Country  Year  Avg_Temperature
12829  Ethiopia  1850        22.247500
12830  Ethiopia  1859        22.376900
12831  Ethiopia  1864        22.418917
12832  Ethiopia  1875        22.100625
12833  Ethiopia  1876        22.326250
Europe
      Country  Year  Avg_Temperature
13073  Europe  1850         7.308750
13074  Europe  1851         7.755333
13075  Europe  1852         7.902333
13076  Europe  1853         7.416583
13077  Europe  1854         7.646333
Falkland Islands (Islas Malvinas)
                                 Country  Year  Avg_Temperature
13237  Falkland Islands (Islas Malvinas)  1860         5.374333
13238  Falkland Islands (Islas Malvinas)  1861         5.600833
13239  Falkland Islands (Islas Malvinas)  1862         5.173500
13240  Falkland Islands (Islas Malvinas)  1863         5.373417
13241  Falkland Islands (Islas Malvinas)  1864         5.643500
Faroe Islands
             Country  Year  Avg_Temperature
13494  Faroe Islands  1850         6.404500
13495  Faroe Islands  1851         6.659583
13496  Faroe Islands  1852         7.302583
13497  Faroe Islands  1853         6.453417
13498  Faroe Islands  1854         6.632750
Federated States Of Micronesia
                              Country  Year  Avg_Temperature
13658  Federated States Of Micronesia  1894        26.296000
13659  Federated States Of Micronesia  1895        26.438583
13660  Federated States Of Micronesia  1896        26.313667
13661  Federated States Of Micronesia  1897        26.290200
13662  Federated States Of Micronesia  1901        26.697000
Fiji
      Country  Year  Avg_Temperature
13775    Fiji  1867        24.695750
13776    Fiji  1868        23.624143
13777    Fiji  1869        24.729300
13778    Fiji  1870        24.853667
13779    Fiji  1871        24.942000
Finland
       Country  Year  Avg_Temperature
14017  Finland  1850         0.506667
14018  Finland  1851         1.592167
14019  Finland  1852         0.420750
14020  Finland  1853         1.583583
14021  Finland  1854         1.635667
France
      Country  Year  Avg_Temperature
14284  France  1850        12.217500
14285  France  1851        12.042667
14286  France  1852        13.035583
14287  France  1853        11.826167
14288  France  1854        12.443167
France (Europe)
               Country  Year  Avg_Temperature
14551  France (Europe)  1850         9.810833
14552  France (Europe)  1851         9.616000
14553  France (Europe)  1852        10.816333
14554  France (Europe)  1853         9.332333
14555  France (Europe)  1854        10.083833
French Guiana
             Country  Year  Avg_Temperature

          Country  Year  Avg_Temperature
27777  Montenegro  1850         9.388833
27778  Montenegro  1851         9.965833
27779  Montenegro  1852        10.378250
27780  Montenegro  1853        10.332250
27781  Montenegro  1854         9.616250
Montserrat
          Country  Year  Avg_Temperature
27952  Montserrat  1850        25.878333
27953  Montserrat  1851        25.997333
27954  Montserrat  1852        25.800833
27955  Montserrat  1853        26.024250
27956  Montserrat  1854        25.926083
Morocco
       Country  Year  Avg_Temperature
28179  Morocco  1850        17.579250
28180  Morocco  1851        17.789917
28181  Morocco  1852        17.609250
28182  Morocco  1853        17.246917
28183  Morocco  1854        17.188500
Mozambique
          Country  Year  Avg_Temperature
28343  Mozambique  1850        22.814583
28344  Mozambique  1859        23.661800
28345  Mozambique  1864        22.972917
28346  Mozambique  1875        22.279625
28347  Mozambique  1876        22.924250
Namibia
       Country  Year  Avg_Temperature
28484  Namibia  1857        19.664000
28485  Namibia  1858        19.968000
28486  Namibia  1859        20.046500
28487  Namibia  1860        19.677091
28488  Namibia  1861        19.976583
Nepal
      Country  Year  Avg_Temperature
28690   Nepal  1850        14.503500
28691   Nepal  1851        14.416417
28692   Nepal  1852        14.195583
28693   Nepal  1853        14.577000
28694   Nepal  1854        14.670167
Netherlands
           Country  Year  Avg_Temperature
28950  Netherlands  1850         8.824167
28951  Netherlands  1851         9.040583
28952  Netherlands  1852        10.026917
28953  Netherlands  1853         8.220583
28954  Netherlands  1854         9.301583
Netherlands (Europe)
                    Country  Year  Avg_Temperature
29217  Netherlands (Europe)  1850         8.424750
29218  Netherlands (Europe)  1851         8.643750
29219  Netherlands (Europe)  1852         9.657833
29220  Netherlands (Europe)  1853         7.806000
29221  Netherlands (Europe)  1854         8.912833
New Caledonia
             Country  Year  Avg_Temperature
29381  New Caledonia  1857        23.647000
29382  New Caledonia  1858        22.007333
29383  New Caledonia  1859        22.128083
29384  New Caledonia  1860        22.131083
29385  New Caledonia  1861        22.349750
New Zealand
           Country  Year  Avg_Temperature
29538  New Zealand  1853         8.884250
29539  New Zealand  1854         9.728917
29540  New Zealand  1855         9.852083
29541  New Zealand  1856         9.501833
29542  New Zealand  1857         9.320917
Nicaragua
         Country  Year  Avg_Temperature
29717  Nicaragua  1850        25.710250
29718  Nicaragua  1851        25.572500
29719  Nicaragua  1852        25.458750
29720  Nicaragua  1853        25.298250
29721  Nicaragua  1854        25.253167
Niger
      Country  Year  Avg_Temperature
29883   Niger  1856        25.774400
29884   Niger  1857        27.201857
29885   Niger  1858        27.134875
29886   Niger  1859        27.726600
29887   Niger  1860        26.826182
Nigeria
       Country  Year  Avg_Temperature
30031  Nigeria  1856        27.312500
30032  Nigeria  1857        25.596000
30033  Nigeria  1858        26.428625
30034  Nigeria  1859        26.144400
30035  Nigeria  1860        26.067364
Niue
      Country  Year  Avg_Temperature
30179    Niue  1867        24.817833
30180    Niue  1868        24.109857
30181    Niue  1869        24.984700
30182    Niue  1870        24.748000
30183    Niue  1871        24.702333
North America
             Country  Year  Avg_Temperature
30369  North America  1850         1.708250
30370  North America  1851         1.983167
30371  North America  1852         1.766250
30372  North America  1853         1.752083
30373  North America  1854         1.910500
North Korea
           Country  Year  Avg_Temperature
30544  North Korea  1850         5.616583
30545  North Korea  1851         5.283417
30546  North Korea  1852         5.476750
30547  North Korea  1853         5.752000
30548  North Korea  1854         6.579000
Northern Mariana Islands
                        Country  Year  Avg_Temperature
30708  Northern Mariana Islands  1903        26.402000
30709  Northern Mariana Islands  1904        26.194833
30710  Northern Mariana Islands  1905        26.428750
30711  Northern Mariana Islands  1906        26.617833
30712  Northern Mariana Islands  1907        26.144083
Norway
      Country  Year  Avg_Temperature
30922  Norway  1850        -0.564417
30923  Norway  1851         0.186333
30924  Norway  1852         0.052500
30925  Norway  1853         0.121250
30926  Norway  1854         0.378167
Oceania
       Country  Year  Avg_Temperature
31086  Oceania  1852        20.055000
31087  Oceania  1853        20.767750
31088  Oceania  1854        20.773600
31089  Oceania  1855        20.646091
31090  Oceania  1856        20.953417
Oman
      Country  Year  Avg_Temperature
31252    Oman  1850        26.069167
31253    Oman  1851        26.444167
31254    Oman  1875        26.272000
31255    Oman  1876        26.440250
31256    Oman  1877        26.857917
Pakistan
        Country  Year  Avg_Temperature
31416  Pakistan  1850        19.985917
31417  Pakistan  1851        20.131750
31418  Pakistan  1852        20.097250
31419  Pakistan  1853        20.103833
31420  Pakistan  1854        20.272500
Palau
      Country  Year  Avg_Temperature
31568   Palau  1882        26.737833
31569   Palau  1883        26.657833
31570   Palau  1884        26.262667
31571   Palau  1885        26.517500
31572   Palau  1886        26.383167
Palestina
         Country  Year  Avg_Temperature
31703  Palestina  1853        23.513714
31704  Palestina  1854        23.101600
31705  Palestina  1855        22.785417
31706  Palestina  1856        22.361500
31707  Palestina  1857        22.145000
Palmyra Atoll
             Country  Year  Avg_Temperature
31864  Palmyra Atoll  1883        26.605833
31865  Palmyra Atoll  1884        26.331750
31866  Palmyra Atoll  1885        26.436333
31867  Palmyra Atoll  1886        26.490250
31868  Palmyra Atoll  1887        26.408083
Panama
      Country  Year  Avg_Temperature
32000  Panama  1851        25.882250
32001  Panama  1852        25.601667
32002  Panama  1853        25.743583
32003  Panama  1854        25.792333
32004  Panama  1855        25.894083
Papua New Guinea
                Country  Year  Avg_Temperature
32163  Papua New Guinea  1882        23.924750
32164  Papua New Guinea  1883        23.863083
32165  Papua New Guinea  1884        23.751417
32166  Papua New Guinea  1885        23.705417
32167  Papua New Guinea  1886        23.879000
Paraguay
        Country  Year  Avg_Temperature
32308  Paraguay  1851        22.930250
32309  Paraguay  1852        22.910083
32310  Paraguay  1853        22.887000
32311  Paraguay  1854        23.052500
32312  Paraguay  1855        22.815167
Peru
      Country  Year  Avg_Temperature
32471    Peru  1855        18.864625
32472    Peru  1873        19.662333
32473    Peru  1874        19.576818
32474    Peru  1875        19.068583
32475    Peru  1880        19.257571
Philippines
           Country  Year  Avg_Temperature
32606  Philippines  1853        26.065333
32607  Philippines  1854        26.213250
32608  Philippines  1855        26.033750
32609  Philippines  1856        25.664083
32610  Philippines  1857        25.721909
Poland
      Country  Year  Avg_Temperature
32868  Poland  1850         6.963000
32869  Poland  1851         7.452167
32870  Poland  1852         7.765250
32871  Poland  1853         6.583083
32872  Poland  1854         7.208167
Portugal
        Country  Year  Avg_Temperature
33129  Portugal  1850        14.841500
33130  Portugal  1851        14.705917
33131  Portugal  1852        14.997083
33132  Portugal  1853        13.748583
33133  Portugal  1854        14.434500
Puerto Rico
           Country  Year  Avg_Temperature
33304  Puerto Rico  1850        25.015083
33305  Puerto Rico  1851        25.139250
33306  Puerto Rico  1852        24.823000
33307  Puerto Rico  1853        25.096083
33308  Puerto Rico  1854        25.024833
Qatar
      Country  Year  Avg_Temperature
33473   Qatar  1850        25.906750
33474   Qatar  1851        26.542083
33475   Qatar  1852        26.408917
33476   Qatar  1853        26.364583
33477   Qatar  1854        26.240583
Reunion
       Country  Year  Avg_Temperature
33645  Reunion  1853        22.713667
33646  Reunion  1854        22.760917
33647  Reunion  1855        22.443583
33648  Reunion  1856        22.421167
33649  Reunion  1857        22.293083
Romania
       Country  Year  Avg_Temperature
33882  Romania  1850         8.265417
33883  Romania  1851         9.318750
33884  Romania  1852         8.932500
33885  Romania  1853         9.104833
33886  Romania  1854         8.409250
Russia
      Country  Year  Avg_Temperature
34084  Russia  1850        -6.426500
34085  Russia  1851        -5.669583
34086  Russia  1852        -6.039667
34087  Russia  1853        -6.276000
34088  Russia  1854        -5.490250
Rwanda
      Country  Year  Avg_Temperature
34248  Rwanda  1850        18.467583
34249  Rwanda  1856        18.477800
34250  Rwanda  1857        18.213429
34251  Rwanda  1858        18.733125
34252  Rwanda  1859        18.870333
Saint Barthélemy
                Country  Year  Avg_Temperature
34406  Saint Barthélemy  1850        26.106333
34407  Saint Barthélemy  1851        26.261250
34408  Saint Barthélemy  1852        26.026000
34409  Saint Barthélemy  1853        26.241500
34410  Saint Barthélemy  1854        26.165333
Saint Kitts And Nevis
                     Country  Year  Avg_Temperature
34581  Saint Kitts And Nevis  1850        25.355250
34582  Saint Kitts And Nevis  1851        25.479250
34583  Saint Kitts And Nevis  1852        25.249833
34584  Saint Kitts And Nevis  1853        25.493417
34585  Saint Kitts And Nevis  1854        25.391083
Saint Lucia
           Country  Year  Avg_Temperature
34756  Saint Lucia  1850        26.177583
34757  Saint Lucia  1851        26.220750
34758  Saint Lucia  1852        26.118750
34759  Saint Lucia  1853        26.328083
34760  Saint Lucia  1854        26.196500
Saint Martin
            Country  Year  Avg_Temperature
34931  Saint Martin  1850        26.106333
34932  Saint Martin  1851        26.261250
34933  Saint Martin  1852        26.026000
34934  Saint Martin  1853        26.241500
34935  Saint Martin  1854        26.165333
Saint Pierre And Miquelon
                         Country  Year  Avg_Temperature
35197  Saint Pierre And Miquelon  1850         3.645167
35198  Saint Pierre And Miquelon  1851         3.747500
35199  Saint Pierre And Miquelon  1852         3.784583
35200  Saint Pierre And Miquelon  1853         3.563000
35201  Saint Pierre And Miquelon  1854         3.875000
Saint Vincent And The Grenadines
                                Country  Year  Avg_Temperature
35372  Saint Vincent And The Grenadines  1850        26.323250
35373  Saint Vincent And The Grenadines  1851        26.364917
35374  Saint Vincent And The Grenadines  1852        26.258833
35375  Saint Vincent And The Grenadines  1853        26.465500
35376  Saint Vincent And The Grenadines  1854        26.337333
Samoa
      Country  Year  Avg_Temperature
35536   Samoa  1867        26.072667
35537   Samoa  1868        25.716143
35538   Samoa  1869        26.015000
35539   Samoa  1870        25.730500
35540   Samoa  1871        25.984333
San Marino
          Country  Year  Avg_Temperature
35778  San Marino  1850        12.843167
35779  San Marino  1851        13.095917
35780  San Marino  1852        13.820750
35781  San Marino  1853        13.394167
35782  San Marino  1854        13.243000
Sao Tome And Principe
                     Country  Year  Avg_Temperature
35942  Sao Tome And Principe  1856        25.809333
35943  Sao Tome And Principe  1857        24.593429
35944  Sao Tome And Principe  1858        25.277375
35945  Sao Tome And Principe  1859        25.229400
35946  Sao Tome And Principe  1860        25.268818
Saudi Arabia
            Country  Year  Avg_Temperature
36095  Saudi Arabia  1850        24.644917
36096  Saudi Arabia  1851        25.289500
36097  Saudi Arabia  1852        25.101167
36098  Saudi Arabia  1853        25.229167
36099  Saudi Arabia  1855        25.185417
Senegal
       Country  Year  Avg_Temperature
36259  Senegal  1850        27.451333
36260  Senegal  1851        27.605167
36261  Senegal  1852        24.748000
36262  Senegal  1856        27.392083
36263  Senegal  1857        27.206364
Serbia
      Country  Year  Avg_Temperature
36520  Serbia  1850         9.277083
36521  Serbia  1851         9.951167
36522  Serbia  1852        10.194750
36523  Serbia  1853        10.098000
36524  Serbia  1854         9.496417
Seychelles
          Country  Year  Avg_Temperature
36692  Seychelles  1850        26.034909
36693  Seychelles  1853        26.138083
36694  Seychelles  1854        26.303083
36695  Seychelles  1855        26.222333
36696  Seychelles  1856        26.002167
Sierra Leone
            Country  Year  Avg_Temperature
36835  Sierra Leone  1850        25.497167
36836  Sierra Leone  1851        25.501417
36837  Sierra Leone  1852        24.833000
36838  Sierra Leone  1854        24.916250
36839  Sierra Leone  1855        25.830400
Singapore
         Country  Year  Avg_Temperature
37006  Singapore  1850        26.014833
37007  Singapore  1851        26.088417
37008  Singapore  1852        25.974917
37009  Singapore  1853        26.183000
37010  Singapore  1854        25.954091
Sint Maarten
            Country  Year  Avg_Temperature
37179  Sint Maarten  1850        26.106333
37180  Sint Maarten  1851        26.261250
37181  Sint Maarten  1852        26.026000
37182  Sint Maarten  1853        26.241500
37183  Sint Maarten  1854        26.165333
Slovakia
        Country  Year  Avg_Temperature
37446  Slovakia  1850         7.071500
37447  Slovakia  1851         7.323167
37448  Slovakia  1852         7.754000
37449  Slovakia  1853         6.899250
37450  Slovakia  1854         7.101500
Slovenia
        Country  Year  Avg_Temperature
37713  Slovenia  1850         8.819333
37714  Slovenia  1851         8.899500
37715  Slovenia  1852         9.685667
37716  Slovenia  1853         9.143667
37717  Slovenia  1854         9.153917
Solomon Islands
               Country  Year  Avg_Temperature
37877  Solomon Islands  1867        26.287500
37878  Solomon Islands  1868        25.900600
37879  Solomon Islands  1869        26.310000
37880  Solomon Islands  1870        25.960667
37881  Solomon Islands  1871        26.192583
Somalia
       Country  Year  Avg_Temperature
38012  Somalia  1850        26.138417
38013  Somalia  1859        26.227200
38014  Somalia  1864        26.236417
38015  Somalia  1875        26.339625
38016  Somalia  1876        26.214167
South Africa
            Country  Year  Avg_Temperature
38153  South Africa  1857        16.448667
38154  South Africa  1858        16.730667
38155  South Africa  1859        16.767000
38156  South Africa  1860        16.554273
38157  South Africa  1861        16.832333
South America
             Country  Year  Avg_Temperature
38310  South America  1851        21.415833
38311  South America  1852        21.373167
38312  South America  1853        21.379500
38313  South America  1854        21.496750
38314  South America  1855        21.461667
South Georgia And The South Sandwich Isla
                                         Country  Year  Avg_Temperature
38473  South Georgia And The South Sandwich Isla  1874         2.943000
38474  South Georgia And The South Sandwich Isla  1875         0.702083
38475  South Georgia And The South Sandwich Isla  1876         0.643500
38476  South Georgia And The South Sandwich Isla  1877         1.072917
38477  South Georgia And The South Sandwich Isla  1878         4.444500
South Korea
           Country  Year  Avg_Temperature
38607  South Korea  1850        10.948750
38608  South Korea  1851        10.621417
38609  South Korea  1852        10.772000
38610  South Korea  1853        11.123000
38611  South Korea  1854        11.693167
Spain
      Country  Year  Avg_Temperature
38874   Spain  1850        13.527833
38875   Spain  1851        13.253083
38876   Spain  1852        13.955917
38877   Spain  1853        12.695083
38878   Spain  1854        13.279750
Sri Lanka
         Country  Year  Avg_Temperature
39087  Sri Lanka  1850        26.448833
39088  Sri Lanka  1851        26.594667
39089  Sri Lanka  1852        26.545083
39090  Sri Lanka  1853        26.786083
39091  Sri Lanka  1854        26.678833
Sudan
      Country  Year  Avg_Temperature
39249   Sudan  1856        26.391333
39250   Sudan  1857        26.481143
39251   Sudan  1858        26.704125
39252   Sudan  1859        27.045600
39253   Sudan  1860        26.485182
Suriname
        Country  Year  Avg_Temperature
39409  Suriname  1850        25.792083
39410  Suriname  1851        25.602833
39411  Suriname  1852        25.687000
39412  Suriname  1853        25.794750
39413  Suriname  1854        25.656500
Svalbard And Jan Mayen
                      Country  Year  Avg_Temperature
39661  Svalbard And Jan Mayen  1850        -8.260000
39662  Svalbard And Jan Mayen  1851        -7.374500
39663  Svalbard And Jan Mayen  1852        -8.053333
39664  Svalbard And Jan Mayen  1853        -7.045833
39665  Svalbard And Jan Mayen  1854        -7.490667
Swaziland
         Country  Year  Avg_Temperature
39825  Swaziland  1857        18.010667
39826  Swaziland  1858        18.328417
39827  Swaziland  1859        18.409167
39828  Swaziland  1860        18.065909
39829  Swaziland  1861        18.322500
Sweden
      Country  Year  Avg_Temperature
40085  Sweden  1850         1.770917
40086  Sweden  1851         2.522250
40087  Sweden  1852         2.319750
40088  Sweden  1853         2.190833
40089  Sweden  1854         2.731750
Switzerland
           Country  Year  Avg_Temperature
40352  Switzerland  1850         6.151583
40353  Switzerland  1851         6.036167
40354  Switzerland  1852         7.232000
40355  Switzerland  1853         5.971500
40356  Switzerland  1854         6.532333
Syria
      Country  Year  Avg_Temperature
40558   Syria  1850        17.133333
40559   Syria  1851        18.126750
40560   Syria  1852        17.756250
40561   Syria  1853        18.307667
40562   Syria  1854        17.307583
Taiwan
      Country  Year  Avg_Temperature
40731  Taiwan  1850        21.588750
40732  Taiwan  1851        21.611667
40733  Taiwan  1852        21.633250
40734  Taiwan  1853        21.976667
40735  Taiwan  1854        21.951250
Tajikistan
          Country  Year  Avg_Temperature
40912  Tajikistan  1850         3.349667
40913  Tajikistan  1851         3.529583
40914  Tajikistan  1852         3.514333
40915  Tajikistan  1853         3.315417
40916  Tajikistan  1854         3.798333
Tanzania
        Country  Year  Avg_Temperature
41076  Tanzania  1850        21.562417
41077  Tanzania  1859        22.100300
41078  Tanzania  1864        21.662917
41079  Tanzania  1875        21.588125
41080  Tanzania  1876        21.614167
Thailand
        Country  Year  Avg_Temperature
41238  Thailand  1850        25.547917
41239  Thailand  1851        25.677500
41240  Thailand  1852        25.504417
41241  Thailand  1853        25.789833
41242  Thailand  1854        25.785083
Timor Leste
           Country  Year  Avg_Temperature
41402  Timor Leste  1878        26.294300
41403  Timor Leste  1879        25.421583
41404  Timor Leste  1880        25.606417
41405  Timor Leste  1881        25.826667
41406  Timor Leste  1882        25.761833
Togo
      Country  Year  Avg_Temperature
41539    Togo  1850        26.193250
41540    Togo  1851        26.402083
41541    Togo  1852        26.403000
41542    Togo  1856        27.537000
41543    Togo  1857        25.484500
Tonga
      Country  Year  Avg_Temperature
41690   Tonga  1867        22.941333
41691   Tonga  1868        21.756857

In [6]:
import pandas as pd
import numpy as np

# Load the dataset
df=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\country_year_avg_temp.csv")

# find the minimum year for each country
min_years = df.groupby('Country')['Year'].min()
print(min_years)

# find the minimum year for each country
min_years = df.groupby('Country')['Year'].min()
# count the number of countries with minimum year less than 1850
count = (min_years > 1850).sum()
print(count)

Country
Afghanistan       1838
Africa            1850
Albania           1743
Algeria           1787
American Samoa    1867
                  ...
Western Sahara    1787
Yemen             1876
Zambia            1850
Zimbabwe          1850
Åland             1743
Name: Year, Length: 243, dtype: int64
51

In [7]:
new_dfs = []

for country, min_year in min_years.items():
    if min_year > 1850:
        # create a DataFrame with the missing years
        years = pd.DataFrame({'Year': range(1850, min_year)})
        years['Country'] = country
        years['Avg_Temperature'] = np.nan

        # filter the original DataFrame for the current country and years >= min_year
        subset = df[(df['Country'] == country) & (df['Year'] >= min_year)]

        # combine the new DataFrame and the filtered subset
        new_df = pd.concat([years, subset])

        # add the new DataFrame to the list of modified DataFrames
        new_dfs.append(new_df)
    else:
        # if min_year <= 1850, no modification is needed, so just add the original DataFrame to the list
        new_dfs.append(df[df['Country'] == country])

# concatenate all modified DataFrames into a single DataFrame
new_df = pd.concat(new_dfs, ignore_index=True)
new_df

           Country  Year  Avg_Temperature
0      Afghanistan  1838        17.708125
1      Afghanistan  1840        13.413455
2      Afghanistan  1841        13.997600
3      Afghanistan  1842        15.154667
4      Afghanistan  1843        13.756250
...            ...   ...              ...
47002        Åland  2009         6.489083
47003        Åland  2010         4.861917
47004        Åland  2011         7.170750
47005        Åland  2012         6.063917
47006        Åland  2013         6.229750

[47007 rows x 3 columns]

In [15]:
import pandas as pd
import numpy as np

# Group the data by country
grouped = new_df.groupby('Country')

# Initialize an empty list to store the DataFrames with filled years
filled_years_dataframes = []

# Iterate over the groups
for country, group in grouped:
    all_years = range(1850, 2014)  # Specify the range of years, including 2013
    existing_years = group['Year'].values
    missing_years = list(set(all_years) - set(existing_years))

    # Create a DataFrame with the missing years
    missing_years_df = pd.DataFrame({'Year': missing_years})
    missing_years_df['Country'] = country
    missing_years_df['Avg_Temperature'] = np.nan

    # Concatenate the group data and the missing years DataFrame
    filled_group = pd.concat([group, missing_years_df])
    filled_years_dataframes.append(filled_group)

# Combine all filled groups into a single DataFrame named 'new_df'
new_df = pd.concat(filled_years_dataframes)

# Sort the data by country and year
new_df = new_df.sort_values(['Country', 'Year']).reset_index(drop=True)

print(new_df)

           Country    Year  Avg_Temperature
0      Afghanistan  1838.0        17.708125
1      Afghanistan  1840.0        13.413455
2      Afghanistan  1841.0        13.997600
3      Afghanistan  1842.0        15.154667
4      Afghanistan  1843.0        13.756250
...            ...     ...              ...
47837        Åland  2009.0         6.489083
47838        Åland  2010.0         4.861917
47839        Åland  2011.0         7.170750
47840        Åland  2012.0         6.063917
47841        Åland  2013.0         6.229750

[47842 rows x 3 columns]

In [16]:
# Filter the dataset by the year 1850 and later
new_df_after_1850 = new_df[new_df['Year'] >= 1850]

# Group the filtered data by the country column
grouped_by_country = new_df_after_1850.groupby('Country')

# Print the first 5 rows of each group
for name, group in grouped_by_country:
    print(name)
    print(group.head(5))

Afghanistan
        Country    Year  Avg_Temperature
11  Afghanistan  1850.0        13.326083
12  Afghanistan  1851.0        13.605667
13  Afghanistan  1852.0        13.541167
14  Afghanistan  1853.0        13.455833
15  Afghanistan  1854.0        13.605750
Africa
    Country    Year  Avg_Temperature
175  Africa  1850.0        23.532417
176  Africa  1851.0              NaN
177  Africa  1852.0              NaN
178  Africa  1853.0              NaN
179  Africa  1854.0              NaN
Albania
     Country    Year  Avg_Temperature
442  Albania  1850.0        11.734667
443  Albania  1851.0        12.315500
444  Albania  1852.0        12.744583
445  Albania  1853.0        12.811167
446  Albania  1854.0        11.951667
Algeria
     Country    Year  Avg_Temperature
669  Algeria  1850.0        22.587333
670  Algeria  1851.0        22.733333
671  Algeria  1852.0        22.856583
672  Algeria  1853.0        22.770583
673  Algeria  1854.0        22.481167
American Samoa
            Country    Year  Avg_Temperature
833  American Samoa  1850.0        26.360333
834  American Samoa  1851.0        26.360333
835  American Samoa  1852.0        26.360333
836  American Samoa  1853.0        26.360333
837  American Samoa  1854.0        26.360333
Andorra
      Country    Year  Avg_Temperature
1100  Andorra  1850.0        10.651750
1101  Andorra  1851.0        10.297083
1102  Andorra  1852.0        11.503750
1103  Andorra  1853.0        10.111333
1104  Andorra  1854.0        10.682417
Angola
     Country    Year  Avg_Temperature
1264  Angola  1850.0           21.086
1265  Angola  1851.0           21.086
1266  Angola  1852.0           21.086
1267  Angola  1853.0           21.086
1268  Angola  1854.0           21.086
Anguilla
       Country    Year  Avg_Temperature
1439  Anguilla  1850.0        26.106333
1440  Anguilla  1851.0        26.261250
1441  Anguilla  1852.0        26.026000
1442  Anguilla  1853.0        26.241500
1443  Anguilla  1854.0        26.165333
Antarctica
         Country    Year  Avg_Temperature
1603  Antarctica  1850.0           29.235
1604  Antarctica  1851.0           29.235
1605  Antarctica  1852.0           29.235
1606  Antarctica  1853.0           29.235
1607  Antarctica  1854.0           29.235
Antigua And Barbuda
                  Country    Year  Avg_Temperature
1778  Antigua And Barbuda  1850.0        25.933250
1779  Antigua And Barbuda  1851.0        26.060917
1780  Antigua And Barbuda  1852.0        25.855167
1781  Antigua And Barbuda  1853.0        26.076583
1782  Antigua And Barbuda  1854.0        25.983583
Argentina
        Country    Year  Avg_Temperature
1942  Argentina  1850.0         11.72925
1943  Argentina  1851.0         11.72925
1944  Argentina  1852.0         11.72925
1945  Argentina  1853.0         11.72925
1946  Argentina  1854.0         11.72925
Armenia
      Country    Year  Avg_Temperature
2154  Armenia  1850.0         7.793167
2155  Armenia  1851.0         9.011833
2156  Armenia  1852.0         8.326167
2157  Armenia  1853.0         8.725833
2158  Armenia  1854.0         7.824083
Aruba
     Country    Year  Avg_Temperature
2329   Aruba  1850.0        27.438167
2330   Aruba  1851.0        27.534833
2331   Aruba  1852.0        27.247167
2332   Aruba  1853.0        27.485750
2333   Aruba  1854.0        27.440333
Asia
     Country    Year  Avg_Temperature
2527    Asia  1850.0         6.586750
2528    Asia  1851.0         6.965583
2529    Asia  1852.0         6.792083
2530    Asia  1853.0         6.763250
2531    Asia  1854.0         7.209417
Australia
        Country    Year  Avg_Temperature
2691  Australia  1850.0         20.18850
2692  Australia  1851.0         20.18850
2693  Australia  1852.0         20.18850
2694  Australia  1853.0         20.95825
2695  Australia  1854.0         20.93720
Austria
      Country    Year  Avg_Temperature
2958  Austria  1850.0         5.536667
2959  Austria  1851.0         5.391250
2960  Austria  1852.0         6.502000
2961  Austria  1853.0         5.347667
2962  Austria  1854.0         5.695750
Azerbaijan
         Country    Year  Avg_Temperature
3164  Azerbaijan  1850.0        10.449167
3165  Azerbaijan  1851.0        11.594917
3166  Azerbaijan  1852.0        10.991000
3167  Azerbaijan  1853.0        11.221000
3168  Azerbaijan  1854.0        10.539417
Bahamas
      Country    Year  Avg_Temperature
3375  Bahamas  1850.0        25.127000
3376  Bahamas  1851.0        24.821500
3377  Bahamas  1852.0        24.543333
3378  Bahamas  1853.0        24.829333
3379  Bahamas  1854.0        24.785667
Bahrain
      Country    Year  Avg_Temperature
3544  Bahrain  1850.0        25.025167
3545  Bahrain  1851.0        25.696500
3546  Bahrain  1852.0        25.517750
3547  Bahrain  1853.0        25.540333
3548  Bahrain  1854.0        25.335167
Baker Island
           Country    Year  Avg_Temperature
3713  Baker Island  1850.0        24.730250
3714  Baker Island  1851.0        24.962500
3715  Baker Island  1852.0        24.844000
3716  Baker Island  1853.0        24.994667
3717  Baker Island  1854.0        24.952364
Bangladesh
         Country    Year  Avg_Temperature
3926  Bangladesh  1850.0        24.553167
3927  Bangladesh  1851.0        24.527417
3928  Bangladesh  1852.0        24.225167
3929  Bangladesh  1853.0        24.715750
3930  Bangladesh  1854.0        24.721667
Barbados
       Country    Year  Avg_Temperature
4101  Barbados  1850.0        25.995083
4102  Barbados  1851.0        26.020833
4103  Barbados  1852.0        25.941750
4104  Barbados  1853.0        26.149083
4105  Barbados  1854.0        26.008917
Belarus
      Country    Year  Avg_Temperature
4368  Belarus  1850.0         5.374083
4369  Belarus  1851.0         6.160333
4370  Belarus  1852.0         5.272833
4371  Belarus  1853.0         5.456250
4372  Belarus  1854.0         5.741833
Belgium
      Country    Year  Avg_Temperature
4635  Belgium  1850.0         8.778083
4636  Belgium  1851.0         8.940833
4637  Belgium  1852.0        10.084833
4638  Belgium  1853.0         8.297917
4639  Belgium  1854.0         9.294250
Belize
     Country    Year  Avg_Temperature
4822  Belize  1850.0        25.026583
4823  Belize  1851.0        24.674500
4824  Belize  1852.0        24.668417
4825  Belize  1853.0        24.267333
4826  Belize  1854.0        24.222250
Benin
     Country    Year  Avg_Temperature
4987   Benin  1850.0        26.482667
4988   Benin  1851.0        26.714083
4989   Benin  1852.0        25.999000
4990   Benin  1853.0              NaN
4991   Benin  1854.0              NaN
Bhutan
     Country    Year  Avg_Temperature
5184  Bhutan  1850.0        12.212727
5185  Bhutan  1851.0        11.754636
5186  Bhutan  1852.0        11.158500
5187  Bhutan  1853.0        11.652250
5188  Bhutan  1854.0        11.662333
Bolivia
      Country    Year  Avg_Temperature
5348  Bolivia  1850.0        19.533375
5349  Bolivia  1851.0        19.533375
5350  Bolivia  1852.0        19.533375
5351  Bolivia  1853.0        19.533375
5352  Bolivia  1854.0        19.533375
Bonaire, Saint Eustatius And Saba
                                Country    Year  Avg_Temperature
5523  Bonaire, Saint Eustatius And Saba  1850.0        26.688667
5524  Bonaire, Saint Eustatius And Saba  1851.0        26.789500
5525  Bonaire, Saint Eustatius And Saba  1852.0        26.547167
5526  Bonaire, Saint Eustatius And Saba  1853.0        26.774250
5527  Bonaire, Saint Eustatius And Saba  1854.0        26.698500
Bosnia And Herzegovina
                     Country    Year  Avg_Temperature
5790  Bosnia And Herzegovina  1850.0         9.625417
5791  Bosnia And Herzegovina  1851.0        10.021083
5792  Bosnia And Herzegovina  1852.0        10.535333
5793  Bosnia And Herzegovina  1853.0        10.285917
5794  Bosnia And Herzegovina  1854.0         9.859583
Botswana
       Country    Year  Avg_Temperature
5954  Botswana  1850.0        21.064917
5955  Botswana  1851.0        21.064917
5956  Botswana  1852.0        21.064917
5957  Botswana  1853.0        21.064917
5958  Botswana  1854.0        21.064917
Brazil
     Country    Year  Avg_Temperature
6136  Brazil  1850.0        24.211818
6137  Brazil  1851.0        24.342333
6138  Brazil  1852.0        24.359917
6139  Brazil  1853.0        24.370250
6140  Brazil  1854.0        24.465083
British Virgin Islands
                     Country    Year  Avg_Temperature
6311  British Virgin Islands  1850.0        25.855667
6312  British Virgin Islands  1851.0        26.006333
6313  British Virgin Islands  1852.0        25.738167
6314  British Virgin Islands  1853.0        25.973833
6315  British Virgin Islands  1854.0        25.890167
Bulgaria
       Country    Year  Avg_Temperature
6578  Bulgaria  1850.0         9.796500
6579  Bulgaria  1851.0        10.790333
6580  Bulgaria  1852.0        10.613500
6581  Bulgaria  1853.0        11.037750
6582  Bulgaria  1854.0        10.042083
Burkina Faso
           Country    Year  Avg_Temperature
6743  Burkina Faso  1850.0         27.49100
6744  Burkina Faso  1851.0         27.70825
6745  Burkina Faso  1852.0         25.26000
6746  Burkina Faso  1853.0              NaN
6747  Burkina Faso  1854.0              NaN
Burma
     Country    Year  Avg_Temperature
6933   Burma  1850.0        23.756091
6934   Burma  1851.0        23.449455
6935   Burma  1852.0        23.167250
6936   Burma  1853.0        23.554333
6937   Burma  1854.0        23.547667
Burundi
      Country    Year  Avg_Temperature
7097  Burundi  1850.0           19.311
7098  Burundi  1851.0              NaN
7099  Burundi  1852.0              NaN
7100  Burundi  1853.0              NaN
7101  Burundi  1854.0              NaN
Cambodia
       Country    Year  Avg_Temperature
7272  Cambodia  1850.0        26.131083
7273  Cambodia  1851.0        26.285000
7274  Cambodia  1852.0        26.148917
7275  Cambodia  1853.0        26.368000
7276  Cambodia  1854.0        26.388000
Cameroon
       Country    Year  Avg_Temperature
7436  Cameroon  1850.0          24.4995
7437  Cameroon  1851.0          24.4995
7438  Cameroon  1852.0          24.4995
7439  Cameroon  1853.0          24.4995
7440  Cameroon  1854.0          24.4995
Canada
     Country    Year  Avg_Temperature
7652  Canada  1850.0        -5.536250
7653  Canada  1851.0        -5.337917
7654  Canada  1852.0        -5.358000
7655  Canada  1853.0        -5.590917
7656  Canada  1854.0        -5.545750
Cape Verde
         Country    Year  Avg_Temperature
7817  Cape Verde  1850.0        23.560833
7818  Cape Verde  1851.0        23.777583
7819  Cape Verde  1852.0        23.211000
7820  Cape Verde  1853.0              NaN
7821  Cape Verde  1854.0              NaN
Cayman Islands
             Country    Year  Avg_Temperature
8008  Cayman Islands  1850.0        26.761500
8009  Cayman Islands  1851.0        26.380583
8010  Cayman Islands  1852.0        26.172000
8011  Cayman Islands  1853.0        26.152583
8012  Cayman Islands  1854.0        26.121583
Central African Republic
                       Country    Year  Avg_Temperature
8172  Central African Republic  1850.0        25.580833
8173  Central African Republic  1851.0        25.580833
8174  Central African Republic  1852.0        25.580833
8175  Central African Republic  1853.0        25.580833
8176  Central African Republic  1854.0        25.580833
Chad
     Country    Year  Avg_Temperature
8336    Chad  1850.0           26.768
8337    Chad  1851.0           26.768
8338    Chad  1852.0           26.768
8339    Chad  1853.0           26.768
8340    Chad  1854.0           26.768
Chile
     Country    Year  Avg_Temperature
8500   Chile  1850.0         7.070125
8501   Chile  1851.0         7.070125
8502   Chile  1852.0         7.070125
8503   Chile  1853.0         7.070125
8504   Chile  1854.0         7.070125
China
     Country    Year  Avg_Temperature
8685   China  1850.0         5.907167
8686   China  1851.0         5.782833
8687   China  1852.0         5.857500
8688   China  1853.0         5.997583
8689   China  1854.0         6.473083
Christmas Island
               Country    Year  Avg_Temperature
8854  Christmas Island  1850.0        25.158083
8855  Christmas Island  1851.0        25.345000
8856  Christmas Island  1852.0        25.226417
8857  Christmas Island  1853.0        25.346222
8858  Christmas Island  1854.0        25.254364
Colombia
       Country    Year  Avg_Temperature
9028  Colombia  1850.0        24.140500
9029  Colombia  1851.0        24.337833
9030  Colombia  1852.0        24.149583
9031  Colombia  1853.0        24.233083
9032  Colombia  1854.0        24.322167
Comoros
      Country    Year  Avg_Temperature
9200  Comoros  1850.0        24.870091
9201  Comoros  1851.0              NaN
9202  Comoros  1852.0              NaN
9203  Comoros  1853.0        25.104667
9204  Comoros  1854.0        25.271333
Congo
     Country    Year  Avg_Temperature
9364   Congo  1850.0          24.3795
9365   Congo  1851.0          24.3795
9366   Congo  1852.0          24.3795
9367   Congo  1853.0          24.3795
9368   Congo  1854.0          24.3795
Congo (Democratic Republic Of The)
                                 Country    Year  Avg_Temperature
9528  Congo (Democratic Republic Of The)  1850.0           23.007
9529  Congo (Democratic Republic Of The)  1851.0              NaN
9530  Congo (Democratic Republic Of The)  1852.0              NaN
9531  Congo (Democratic Republic Of The)  1853.0              NaN
9532  Congo (Democratic Republic Of The)  1854.0              NaN
Costa Rica
         Country    Year  Avg_Temperature
9692  Costa Rica  1850.0        25.186167
9693  Costa Rica  1851.0        25.186167
9694  Costa Rica  1852.0        24.992167
9695  Costa Rica  1853.0        24.992417
9696  Costa Rica  1854.0        24.995500
Croatia
      Country    Year  Avg_Temperature
9959  Croatia  1850.0        10.555667
9960  Croatia  1851.0        10.793000
9961  Croatia  1852.0        11.412750
9962  Croatia  1853.0        10.992250
9963  Croatia  1854.0        10.818250
Cuba
      Country    Year  Avg_Temperature
10150    Cuba  1850.0        25.434667
10151    Cuba  1851.0        25.077167
10152    Cuba  1852.0        24.796750
10153    Cuba  1853.0        24.948667
10154    Cuba  1854.0        24.912167
Curaçao
       Country    Year  Avg_Temperature
10325  Curaçao  1850.0        26.867917
10326  Curaçao  1851.0        26.967000
10327  Curaçao  1852.0        26.700500
10328  Curaçao  1853.0        26.933750
10329  Curaçao  1854.0        26.876833
Cyprus
      Country    Year  Avg_Temperature
10548  Cyprus  1850.0        17.944583
10549  Cyprus  1851.0        18.895167
10550  Cyprus  1852.0        18.603333
10551  Cyprus  1853.0        19.337417
10552  Cyprus  1854.0        18.169167
Czech Republic
              Country    Year  Avg_Temperature
10815  Czech Republic  1850.0         7.057667
10816  Czech Republic  1851.0         7.122167
10817  Czech Republic  1852.0         8.147333
10818  Czech Republic  1853.0         6.494667
10819  Czech Republic  1854.0         7.190250
Côte D'Ivoire
             Country    Year  Avg_Temperature
10980  Côte D'Ivoire  1850.0        25.353583
10981  Côte D'Ivoire  1851.0        25.471000
10982  Côte D'Ivoire  1852.0        25.131000
10983  Côte D'Ivoire  1853.0              NaN
10984  Côte D'Ivoire  1854.0              NaN
Denmark
       Country    Year  Avg_Temperature
11171  Denmark  1850.0       -18.645000
11172  Denmark  1851.0       -18.148917
11173  Denmark  1852.0       -18.322667
11174  Denmark  1853.0       -18.472417
11175  Denmark  1854.0       -18.462667
Denmark (Europe)
                Country    Year  Avg_Temperature
11438  Denmark (Europe)  1850.0         7.231000
11439  Denmark (Europe)  1851.0         7.645667
11440  Denmark (Europe)  1852.0         8.251917
11441  Denmark (Europe)  1853.0         6.783500
11442  Denmark (Europe)  1854.0         7.813917
Djibouti
        Country    Year  Avg_Temperature
11602  Djibouti  1850.0        28.244833
11603  Djibouti  1851.0        28.244833
11604  Djibouti  1852.0        28.244833
11605  Djibouti  1853.0        28.244833
11606  Djibouti  1854.0        28.244833
Dominica
        Country    Year  Avg_Temperature
11777  Dominica  1850.0        25.619083
11778  Dominica  1851.0        25.700250
11779  Dominica  1852.0        25.567833
11780  Dominica  1853.0        25.769417
11781  Dominica  1854.0        25.652250
Dominican Republic
                  Country    Year  Avg_Temperature
11965  Dominican Republic  1850.0        25.250167
11966  Dominican Republic  1851.0        25.272583
11967  Dominican Republic  1852.0        24.898500
11968  Dominican Republic  1853.0        25.226833
11969  Dominican Republic  1854.0        25.177083
Ecuador
       Country    Year  Avg_Temperature
12129  Ecuador  1850.0          21.2508
12130  Ecuador  1851.0          21.2508
12131  Ecuador  1852.0          21.2508
12132  Ecuador  1853.0          21.2508
12133  Ecuador  1854.0          21.2508
Egypt
      Country    Year  Avg_Temperature
12325   Egypt  1850.0        21.808667
12326   Egypt  1851.0        22.358917
12327   Egypt  1852.0        22.324667
12328   Egypt  1853.0        22.762833
12329   Egypt  1854.0        22.156250
El Salvador
           Country    Year  Avg_Temperature
12503  El Salvador  1850.0        24.709917
12504  El Salvador  1851.0        24.524000
12505  El Salvador  1852.0        24.511000
12506  El Salvador  1853.0        24.157083
12507  El Salvador  1854.0        24.091083
Equatorial Guinea
                 Country    Year  Avg_Temperature
12667  Equatorial Guinea  1850.0        24.991167
12668  Equatorial Guinea  1851.0        24.991167
12669  Equatorial Guinea  1852.0        24.991167
12670  Equatorial Guinea  1853.0        24.991167
12671  Equatorial Guinea  1854.0        24.991167
Eritrea
       Country    Year  Avg_Temperature
12831  Eritrea  1850.0         26.34875
12832  Eritrea  1851.0         26.34875
12833  Eritrea  1852.0         26.34875
12834  Eritrea  1853.0         26.34875
12835  Eritrea  1854.0         26.34875
Estonia
       Country    Year  Avg_Temperature
13098  Estonia  1850.0         4.151750
13099  Estonia  1851.0         4.988500
13100  Estonia  1852.0         3.876833
13101  Estonia  1853.0         4.588250
13102  Estonia  1854.0         5.011417
Ethiopia
        Country    Year  Avg_Temperature
13262  Ethiopia  1850.0          22.2475
13263  Ethiopia  1851.0              NaN
13264  Ethiopia  1852.0              NaN
13265  Ethiopia  1853.0              NaN
13266  Ethiopia  1854.0              NaN
Europe
      Country    Year  Avg_Temperature
13529  Europe  1850.0         7.308750
13530  Europe  1851.0         7.755333
13531  Europe  1852.0         7.902333
13532  Europe  1853.0         7.416583
13533  Europe  1854.0         7.646333
Falkland Islands (Islas Malvinas)
                                 Country    Year  Avg_Temperature
13693  Falkland Islands (Islas Malvinas)  1850.0         5.374333
13694  Falkland Islands (Islas Malvinas)  1851.0         5.374333
13695  Falkland Islands (Islas Malvinas)  1852.0         5.374333
13696  Falkland Islands (Islas Malvinas)  1853.0         5.374333
13697  Falkland Islands (Islas Malvinas)  1854.0         5.374333
Faroe Islands
             Country    Year  Avg_Temperature
13960  Faroe Islands  1850.0         6.404500
13961  Faroe Islands  1851.0         6.659583
13962  Faroe Islands  1852.0         7.302583
13963  Faroe Islands  1853.0         6.453417
13964  Faroe Islands  1854.0         6.632750
Federated States Of Micronesia
                              Country    Year  Avg_Temperature
14124  Federated States Of Micronesia  1850.0           26.296
14125  Federated States Of Micronesia  1851.0           26.296
14126  Federated States Of Micronesia  1852.0           26.296
14127  Federated States Of Micronesia  1853.0           26.296
14128  Federated States Of Micronesia  1854.0           26.296
Fiji
      Country    Year  Avg_Temperature
14288    Fiji  1850.0         24.69575
14289    Fiji  1851.0         24.69575
14290    Fiji  1852.0         24.69575

      Country    Year  Avg_Temperature
42383  Taiwan  1850.0        21.588750
42384  Taiwan  1851.0        21.611667
42385  Taiwan  1852.0        21.633250
42386  Taiwan  1853.0        21.976667
42387  Taiwan  1854.0        21.951250
Tajikistan
          Country    Year  Avg_Temperature
42564  Tajikistan  1850.0         3.349667
42565  Tajikistan  1851.0         3.529583
42566  Tajikistan  1852.0         3.514333
42567  Tajikistan  1853.0         3.315417
42568  Tajikistan  1854.0         3.798333
Tanzania
        Country    Year  Avg_Temperature
42728  Tanzania  1850.0        21.562417
42729  Tanzania  1851.0              NaN
42730  Tanzania  1852.0              NaN
42731  Tanzania  1853.0              NaN
42732  Tanzania  1854.0              NaN
Thailand
        Country    Year  Avg_Temperature
42918  Thailand  1850.0        25.547917
42919  Thailand  1851.0        25.677500
42920  Thailand  1852.0        25.504417
42921  Thailand  1853.0        25.789833
42922  Thailand  1854.0        25.785083
Timor Leste
           Country    Year  Avg_Temperature
43082  Timor Leste  1850.0          26.2943
43083  Timor Leste  1851.0          26.2943
43084  Timor Leste  1852.0          26.2943
43085  Timor Leste  1853.0          26.2943
43086  Timor Leste  1854.0          26.2943
Togo
      Country    Year  Avg_Temperature
43247    Togo  1850.0        26.193250
43248    Togo  1851.0        26.402083
43249    Togo  1852.0        26.403000
43250    Togo  1853.0              NaN
43251    Togo  1854.0              NaN
Tonga
      Country    Year  Avg_Temperature
43411   Tonga  1850.0        22.941333
43412   Tonga  1851.0        22.941333
43413   Tonga  1852.0        22.941333
43414   Tonga  1853.0        22.941333
43415   Tonga  1854.0        22.941333
Trinidad And Tobago
                   Country    Year  Avg_Temperature
43586  Trinidad And Tobago  1850.0        25.677750
43587  Trinidad And Tobago  1851.0        25.661750
43588  Trinidad And Tobago  1852.0        25.617333
43589  Trinidad And Tobago  1853.0        25.777500
43590  Trinidad And Tobago  1854.0        25.643500
Tunisia
       Country    Year  Avg_Temperature
43847  Tunisia  1850.0        19.295917
43848  Tunisia  1851.0        19.343833
43849  Tunisia  1852.0        20.018167
43850  Tunisia  1853.0        19.847667
43851  Tunisia  1854.0        19.251167
Turkey
      Country    Year  Avg_Temperature
44084  Turkey  1850.0        10.858250
44085  Turkey  1851.0        11.921167
44086  Turkey  1852.0        11.415917
44087  Turkey  1853.0        12.227583
44088  Turkey  1854.0        11.021667
Turkmenistan
            Country    Year  Avg_Temperature
44270  Turkmenistan  1850.0        14.086417
44271  Turkmenistan  1851.0        14.656250
44272  Turkmenistan  1852.0        14.439500
44273  Turkmenistan  1853.0        14.325417
44274  Turkmenistan  1854.0        14.392500
Turks And Caicas Islands
                        Country    Year  Avg_Temperature
44461  Turks And Caicas Islands  1850.0        26.449167
44462  Turks And Caicas Islands  1851.0        26.379750
44463  Turks And Caicas Islands  1852.0        26.027583
44464  Turks And Caicas Islands  1853.0        26.406667
44465  Turks And Caicas Islands  1854.0        26.329167
Uganda
      Country    Year  Avg_Temperature
44625  Uganda  1850.0        22.240917
44626  Uganda  1851.0              NaN
44627  Uganda  1852.0              NaN
44628  Uganda  1853.0              NaN
44629  Uganda  1854.0              NaN
Ukraine
       Country    Year  Avg_Temperature
44892  Ukraine  1850.0         7.418417
44893  Ukraine  1851.0         8.423167
44894  Ukraine  1852.0         7.262833
44895  Ukraine  1853.0         7.899500
44896  Ukraine  1854.0         7.407750
United Arab Emirates
                    Country    Year  Avg_Temperature
45060  United Arab Emirates  1850.0        26.833583
45061  United Arab Emirates  1851.0        27.372417
45062  United Arab Emirates  1852.0              NaN
45063  United Arab Emirates  1853.0              NaN
45064  United Arab Emirates  1854.0              NaN
United Kingdom
              Country    Year  Avg_Temperature
45327  United Kingdom  1850.0         8.224917
45328  United Kingdom  1851.0         8.333667
45329  United Kingdom  1852.0         8.975000
45330  United Kingdom  1853.0         7.800250
45331  United Kingdom  1854.0         8.511500
United Kingdom (Europe)
                       Country    Year  Avg_Temperature
45594  United Kingdom (Europe)  1850.0         8.408167
45595  United Kingdom (Europe)  1851.0         8.504833
45596  United Kingdom (Europe)  1852.0         9.198750
45597  United Kingdom (Europe)  1853.0         7.945667
45598  United Kingdom (Europe)  1854.0         8.692250
United States
             Country    Year  Avg_Temperature
45809  United States  1850.0         8.248333
45810  United States  1851.0         8.657500
45811  United States  1852.0         8.183083
45812  United States  1853.0         8.459917
45813  United States  1854.0         8.821250
Uruguay
       Country    Year  Avg_Temperature
45986  Uruguay  1850.0              NaN
45987  Uruguay  1851.0        16.840417
45988  Uruguay  1852.0        16.806167
45989  Uruguay  1853.0        16.780000
45990  Uruguay  1854.0        16.951833
Uzbekistan
          Country    Year  Avg_Temperature
46171  Uzbekistan  1850.0        11.618333
46172  Uzbekistan  1851.0        12.042750
46173  Uzbekistan  1852.0        11.875833
46174  Uzbekistan  1853.0        11.667750
46175  Uzbekistan  1854.0        12.074583
Venezuela
         Country    Year  Avg_Temperature
46346  Venezuela  1850.0        24.539167
46347  Venezuela  1851.0        24.605250
46348  Venezuela  1852.0        24.491583
46349  Venezuela  1853.0        24.623083
46350  Venezuela  1854.0        24.572583
Vietnam
       Country    Year  Avg_Temperature
46523  Vietnam  1850.0        23.198417
46524  Vietnam  1851.0        23.352583
46525  Vietnam  1852.0        23.219333
46526  Vietnam  1853.0        23.504250
46527  Vietnam  1854.0        23.497250
Virgin Islands
              Country    Year  Avg_Temperature
46698  Virgin Islands  1850.0        25.855667
46699  Virgin Islands  1851.0        26.006333
46700  Virgin Islands  1852.0        25.738167
46701  Virgin Islands  1853.0        25.973833
46702  Virgin Islands  1854.0        25.890167
Western Sahara
              Country    Year  Avg_Temperature
46919  Western Sahara  1850.0        22.182250
46920  Western Sahara  1851.0        22.487000
46921  Western Sahara  1852.0        22.128000
46922  Western Sahara  1853.0        21.986333
46923  Western Sahara  1854.0        22.003667
Yemen
      Country    Year  Avg_Temperature
47083   Yemen  1850.0        25.630667
47084   Yemen  1851.0        25.630667
47085   Yemen  1852.0        25.630667
47086   Yemen  1853.0        25.630667
47087   Yemen  1854.0        25.630667
Zambia
      Country    Year  Avg_Temperature
47247  Zambia  1850.0        20.607417
47248  Zambia  1851.0              NaN
47249  Zambia  1852.0              NaN
47250  Zambia  1853.0              NaN
47251  Zambia  1854.0              NaN
Zimbabwe
        Country    Year  Avg_Temperature
47411  Zimbabwe  1850.0        20.402417
47412  Zimbabwe  1851.0              NaN
47413  Zimbabwe  1852.0              NaN
47414  Zimbabwe  1853.0              NaN
47415  Zimbabwe  1854.0              NaN
Åland
      Country    Year  Avg_Temperature
47678   Åland  1850.0         4.648667
47679   Åland  1851.0         5.306333
47680   Åland  1852.0         4.995667
47681   Åland  1853.0         4.907750
47682   Åland  1854.0         5.626667

In [21]:
# Fill missing values in Avg_Temperature column using backward filling
new_df['Avg_Temperature'].fillna(method='bfill', inplace=True)

# Filter the data for years greater than or equal to 1850
new_df_after_1850 = new_df[new_df['Year'] >= 1850]

# Convert the Year column to integer data type
new_df_after_1850['Year'] = new_df_after_1850['Year'].astype(int)

# Group the filtered data by the country column
grouped_by_country = new_df_after_1850.groupby('Country')

# Print the first 5 rows of each group
for name, group in grouped_by_country:
    print(name)
    print(group.head(5))

# Save the cleaned data to a CSV file
new_df_after_1850.to_csv('cleaned_country_year_avg_temp.csv', index=False)

C:\Users\john8\AppData\Local\Temp\ipykernel_6468\928717511.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_after_1850['Year'] = new_df_after_1850['Year'].astype(int)

Afghanistan
        Country  Year  Avg_Temperature
11  Afghanistan  1850        13.326083
12  Afghanistan  1851        13.605667
13  Afghanistan  1852        13.541167
14  Afghanistan  1853        13.455833
15  Afghanistan  1854        13.605750
Africa
    Country  Year  Avg_Temperature
175  Africa  1850        23.532417
176  Africa  1851        23.036000
177  Africa  1852        23.036000
178  Africa  1853        23.036000
179  Africa  1854        23.036000
Albania
     Country  Year  Avg_Temperature
442  Albania  1850        11.734667
443  Albania  1851        12.315500
444  Albania  1852        12.744583
445  Albania  1853        12.811167
446  Albania  1854        11.951667
Algeria
     Country  Year  Avg_Temperature
669  Algeria  1850        22.587333
670  Algeria  1851        22.733333
671  Algeria  1852        22.856583
672  Algeria  1853        22.770583
673  Algeria  1854        22.481167
American Samoa
            Country  Year  Avg_Temperature
833  American Samoa  1850        26.360333
834  American Samoa  1851        26.360333
835  American Samoa  1852        26.360333
836  American Samoa  1853        26.360333
837  American Samoa  1854        26.360333
Andorra
      Country  Year  Avg_Temperature
1100  Andorra  1850        10.651750
1101  Andorra  1851        10.297083
1102  Andorra  1852        11.503750
1103  Andorra  1853        10.111333
1104  Andorra  1854        10.682417
Angola
     Country  Year  Avg_Temperature
1264  Angola  1850           21.086
1265  Angola  1851           21.086
1266  Angola  1852           21.086
1267  Angola  1853           21.086
1268  Angola  1854           21.086
Anguilla
       Country  Year  Avg_Temperature
1439  Anguilla  1850        26.106333
1440  Anguilla  1851        26.261250
1441  Anguilla  1852        26.026000
1442  Anguilla  1853        26.241500
1443  Anguilla  1854        26.165333
Antarctica
         Country  Year  Avg_Temperature
1603  Antarctica  1850           29.235
1604  Antarctica  1851           29.235
1605  Antarctica  1852           29.235
1606  Antarctica  1853           29.235
1607  Antarctica  1854           29.235
Antigua And Barbuda
                  Country  Year  Avg_Temperature
1778  Antigua And Barbuda  1850        25.933250
1779  Antigua And Barbuda  1851        26.060917
1780  Antigua And Barbuda  1852        25.855167
1781  Antigua And Barbuda  1853        26.076583
1782  Antigua And Barbuda  1854        25.983583
Argentina
        Country  Year  Avg_Temperature
1942  Argentina  1850         11.72925
1943  Argentina  1851         11.72925
1944  Argentina  1852         11.72925
1945  Argentina  1853         11.72925
1946  Argentina  1854         11.72925
Armenia
      Country  Year  Avg_Temperature
2154  Armenia  1850         7.793167
2155  Armenia  1851         9.011833
2156  Armenia  1852         8.326167
2157  Armenia  1853         8.725833
2158  Armenia  1854         7.824083
Aruba
     Country  Year  Avg_Temperature
2329   Aruba  1850        27.438167
2330   Aruba  1851        27.534833
2331   Aruba  1852        27.247167
2332   Aruba  1853        27.485750
2333   Aruba  1854        27.440333
Asia
     Country  Year  Avg_Temperature
2527    Asia  1850         6.586750
2528    Asia  1851         6.965583
2529    Asia  1852         6.792083
2530    Asia  1853         6.763250
2531    Asia  1854         7.209417
Australia
        Country  Year  Avg_Temperature
2691  Australia  1850         20.18850
2692  Australia  1851         20.18850
2693  Australia  1852         20.18850
2694  Australia  1853         20.95825
2695  Australia  1854         20.93720
Austria
      Country  Year  Avg_Temperature
2958  Austria  1850         5.536667
2959  Austria  1851         5.391250
2960  Austria  1852         6.502000
2961  Austria  1853         5.347667
2962  Austria  1854         5.695750
Azerbaijan
         Country  Year  Avg_Temperature
3164  Azerbaijan  1850        10.449167
3165  Azerbaijan  1851        11.594917
3166  Azerbaijan  1852        10.991000
3167  Azerbaijan  1853        11.221000
3168  Azerbaijan  1854        10.539417
Bahamas
      Country  Year  Avg_Temperature
3375  Bahamas  1850        25.127000
3376  Bahamas  1851        24.821500
3377  Bahamas  1852        24.543333
3378  Bahamas  1853        24.829333
3379  Bahamas  1854        24.785667
Bahrain
      Country  Year  Avg_Temperature
3544  Bahrain  1850        25.025167
3545  Bahrain  1851        25.696500
3546  Bahrain  1852        25.517750
3547  Bahrain  1853        25.540333
3548  Bahrain  1854        25.335167
Baker Island
           Country  Year  Avg_Temperature
3713  Baker Island  1850        24.730250
3714  Baker Island  1851        24.962500
3715  Baker Island  1852        24.844000
3716  Baker Island  1853        24.994667
3717  Baker Island  1854        24.952364
Bangladesh
         Country  Year  Avg_Temperature
3926  Bangladesh  1850        24.553167
3927  Bangladesh  1851        24.527417
3928  Bangladesh  1852        24.225167
3929  Bangladesh  1853        24.715750
3930  Bangladesh  1854        24.721667
Barbados
       Country  Year  Avg_Temperature
4101  Barbados  1850        25.995083
4102  Barbados  1851        26.020833
4103  Barbados  1852        25.941750
4104  Barbados  1853        26.149083
4105  Barbados  1854        26.008917
Belarus
      Country  Year  Avg_Temperature
4368  Belarus  1850         5.374083
4369  Belarus  1851         6.160333
4370  Belarus  1852         5.272833
4371  Belarus  1853         5.456250
4372  Belarus  1854         5.741833
Belgium
      Country  Year  Avg_Temperature
4635  Belgium  1850         8.778083
4636  Belgium  1851         8.940833
4637  Belgium  1852        10.084833
4638  Belgium  1853         8.297917
4639  Belgium  1854         9.294250
Belize
     Country  Year  Avg_Temperature
4822  Belize  1850        25.026583
4823  Belize  1851        24.674500
4824  Belize  1852        24.668417
4825  Belize  1853        24.267333
4826  Belize  1854        24.222250
Benin
     Country  Year  Avg_Temperature
4987   Benin  1850        26.482667
4988   Benin  1851        26.714083
4989   Benin  1852        25.999000
4990   Benin  1853        27.989000
4991   Benin  1854        27.989000
Bhutan
     Country  Year  Avg_Temperature
5184  Bhutan  1850        12.212727
5185  Bhutan  1851        11.754636
5186  Bhutan  1852        11.158500
5187  Bhutan  1853        11.652250
5188  Bhutan  1854        11.662333
Bolivia
      Country  Year  Avg_Temperature
5348  Bolivia  1850        19.533375
5349  Bolivia  1851        19.533375
5350  Bolivia  1852        19.533375
5351  Bolivia  1853        19.533375
5352  Bolivia  1854        19.533375
Bonaire, Saint Eustatius And Saba
                                Country  Year  Avg_Temperature
5523  Bonaire, Saint Eustatius And Saba  1850        26.688667
5524  Bonaire, Saint Eustatius And Saba  1851        26.789500
5525  Bonaire, Saint Eustatius And Saba  1852        26.547167
5526  Bonaire, Saint Eustatius And Saba  1853        26.774250
5527  Bonaire, Saint Eustatius And Saba  1854        26.698500
Bosnia And Herzegovina
                     Country  Year  Avg_Temperature
5790  Bosnia And Herzegovina  1850         9.625417
5791  Bosnia And Herzegovina  1851        10.021083
5792  Bosnia And Herzegovina  1852        10.535333
5793  Bosnia And Herzegovina  1853        10.285917
5794  Bosnia And Herzegovina  1854         9.859583
Botswana
       Country  Year  Avg_Temperature
5954  Botswana  1850        21.064917
5955  Botswana  1851        21.064917
5956  Botswana  1852        21.064917
5957  Botswana  1853        21.064917
5958  Botswana  1854        21.064917
Brazil
     Country  Year  Avg_Temperature
6136  Brazil  1850        24.211818
6137  Brazil  1851        24.342333
6138  Brazil  1852        24.359917
6139  Brazil  1853        24.370250
6140  Brazil  1854        24.465083
British Virgin Islands
                     Country  Year  Avg_Temperature
6311  British Virgin Islands  1850        25.855667
6312  British Virgin Islands  1851        26.006333
6313  British Virgin Islands  1852        25.738167
6314  British Virgin Islands  1853        25.973833
6315  British Virgin Islands  1854        25.890167
Bulgaria
       Country  Year  Avg_Temperature
6578  Bulgaria  1850         9.796500
6579  Bulgaria  1851        10.790333
6580  Bulgaria  1852        10.613500
6581  Bulgaria  1853        11.037750
6582  Bulgaria  1854        10.042083
Burkina Faso
           Country  Year  Avg_Temperature
6743  Burkina Faso  1850         27.49100
6744  Burkina Faso  1851         27.70825
6745  Burkina Faso  1852         25.26000
6746  Burkina Faso  1853         27.45350
6747  Burkina Faso  1854         27.45350
Burma
     Country  Year  Avg_Temperature
6933   Burma  1850        23.756091
6934   Burma  1851        23.449455
6935   Burma  1852        23.167250
6936   Burma  1853        23.554333
6937   Burma  1854        23.547667
Burundi
      Country  Year  Avg_Temperature
7097  Burundi  1850          19.3110
7098  Burundi  1851          19.2654
7099  Burundi  1852          19.2654
7100  Burundi  1853          19.2654
7101  Burundi  1854          19.2654
Cambodia
       Country  Year  Avg_Temperature
7272  Cambodia  1850        26.131083
7273  Cambodia  1851        26.285000
7274  Cambodia  1852        26.148917
7275  Cambodia  1853        26.368000
7276  Cambodia  1854        26.388000
Cameroon
       Country  Year  Avg_Temperature
7436  Cameroon  1850          24.4995
7437  Cameroon  1851          24.4995
7438  Cameroon  1852          24.4995
7439  Cameroon  1853          24.4995
7440  Cameroon  1854          24.4995
Canada
     Country  Year  Avg_Temperature
7652  Canada  1850        -5.536250
7653  Canada  1851        -5.337917
7654  Canada  1852        -5.358000
7655  Canada  1853        -5.590917
7656  Canada  1854        -5.545750
Cape Verde
         Country  Year  Avg_Temperature
7817  Cape Verde  1850        23.560833
7818  Cape Verde  1851        23.777583
7819  Cape Verde  1852        23.211000
7820  Cape Verde  1853        23.644167
7821  Cape Verde  1854        23.644167
Cayman Islands
             Country  Year  Avg_Temperature
8008  Cayman Islands  1850        26.761500
8009  Cayman Islands  1851        26.380583
8010  Cayman Islands  1852        26.172000
8011  Cayman Islands  1853        26.152583
8012  Cayman Islands  1854        26.121583
Central African Republic
                       Country  Year  Avg_Temperature
8172  Central African Republic  1850        25.580833
8173  Central African Republic  1851        25.580833
8174  Central African Republic  1852        25.580833
8175  Central African Republic  1853        25.580833
8176  Central African Republic  1854        25.580833
Chad
     Country  Year  Avg_Temperature
8336    Chad  1850           26.768
8337    Chad  1851           26.768
8338    Chad  1852           26.768
8339    Chad  1853           26.768
8340    Chad  1854           26.768
Chile
     Country  Year  Avg_Temperature
8500   Chile  1850         7.070125
8501   Chile  1851         7.070125
8502   Chile  1852         7.070125
8503   Chile  1853         7.070125
8504   Chile  1854         7.070125
China
     Country  Year  Avg_Temperature
8685   China  1850         5.907167
8686   China  1851         5.782833
8687   China  1852         5.857500
8688   China  1853         5.997583
8689   China  1854         6.473083
Christmas Island
               Country  Year  Avg_Temperature
8854  Christmas Island  1850        25.158083
8855  Christmas Island  1851        25.345000
8856  Christmas Island  1852        25.226417
8857  Christmas Island  1853        25.346222
8858  Christmas Island  1854        25.254364
Colombia
       Country  Year  Avg_Temperature
9028  Colombia  1850        24.140500
9029  Colombia  1851        24.337833
9030  Colombia  1852        24.149583
9031  Colombia  1853        24.233083
9032  Colombia  1854        24.322167
Comoros
      Country  Year  Avg_Temperature
9200  Comoros  1850        24.870091
9201  Comoros  1851        25.104667
9202  Comoros  1852        25.104667
9203  Comoros  1853        25.104667
9204  Comoros  1854        25.271333
Congo
     Country  Year  Avg_Temperature
9364   Congo  1850          24.3795
9365   Congo  1851          24.3795
9366   Congo  1852          24.3795
9367   Congo  1853          24.3795
9368   Congo  1854          24.3795
Congo (Democratic Republic Of The)
                                 Country  Year  Avg_Temperature
9528  Congo (Democratic Republic Of The)  1850          23.0070
9529  Congo (Democratic Republic Of The)  1851          23.4384
9530  Congo (Democratic Republic Of The)  1852          23.4384
9531  Congo (Democratic Republic Of The)  1853          23.4384
9532  Congo (Democratic Republic Of The)  1854          23.4384
Costa Rica
         Country  Year  Avg_Temperature
9692  Costa Rica  1850        25.186167
9693  Costa Rica  1851        25.186167
9694  Costa Rica  1852        24.992167
9695  Costa Rica  1853        24.992417
9696  Costa Rica  1854        24.995500
Croatia
      Country  Year  Avg_Temperature
9959  Croatia  1850        10.555667
9960  Croatia  1851        10.793000
9961  Croatia  1852        11.412750
9962  Croatia  1853        10.992250
9963  Croatia  1854        10.818250
Cuba
      Country  Year  Avg_Temperature
10150    Cuba  1850        25.434667
10151    Cuba  1851        25.077167
10152    Cuba  1852        24.796750
10153    Cuba  1853        24.948667
10154    Cuba  1854        24.912167
Curaçao
       Country  Year  Avg_Temperature
10325  Curaçao  1850        26.867917
10326  Curaçao  1851        26.967000
10327  Curaçao  1852        26.700500
10328  Curaçao  1853        26.933750
10329  Curaçao  1854        26.876833
Cyprus
      Country  Year  Avg_Temperature
10548  Cyprus  1850        17.944583
10549  Cyprus  1851        18.895167
10550  Cyprus  1852        18.603333
10551  Cyprus  1853        19.337417
10552  Cyprus  1854        18.169167
Czech Republic
              Country  Year  Avg_Temperature
10815  Czech Republic  1850         7.057667
10816  Czech Republic  1851         7.122167
10817  Czech Republic  1852         8.147333
10818  Czech Republic  1853         6.494667
10819  Czech Republic  1854         7.190250
Côte D'Ivoire
             Country  Year  Avg_Temperature
10980  Côte D'Ivoire  1850        25.353583
10981  Côte D'Ivoire  1851        25.471000
10982  Côte D'Ivoire  1852        25.131000
10983  Côte D'Ivoire  1853        25.356167
10984  Côte D'Ivoire  1854        25.356167
Denmark
       Country  Year  Avg_Temperature
11171  Denmark  1850       -18.645000
11172  Denmark  1851       -18.148917
11173  Denmark  1852       -18.322667
11174  Denmark  1853       -18.472417
11175  Denmark  1854       -18.462667
Denmark (Europe)
                Country  Year  Avg_Temperature
11438  Denmark (Europe)  1850         7.231000
11439  Denmark (Europe)  1851         7.645667
11440  Denmark (Europe)  1852         8.251917
11441  Denmark (Europe)  1853         6.783500
11442  Denmark (Europe)  1854         7.813917
Djibouti
        Country  Year  Avg_Temperature
11602  Djibouti  1850        28.244833
11603  Djibouti  1851        28.244833
11604  Djibouti  1852        28.244833
11605  Djibouti  1853        28.244833
11606  Djibouti  1854        28.244833
Dominica
        Country  Year  Avg_Temperature
11777  Dominica  1850        25.619083
11778  Dominica  1851        25.700250
11779  Dominica  1852        25.567833
11780  Dominica  1853        25.769417
11781  Dominica  1854        25.652250
Dominican Republic
                  Country  Year  Avg_Temperature
11965  Dominican Republic  1850        25.250167
11966  Dominican Republic  1851        25.272583
11967  Dominican Republic  1852        24.898500
11968  Dominican Republic  1853        25.226833
11969  Dominican Republic  1854        25.177083
Ecuador
       Country  Year  Avg_Temperature
12129  Ecuador  1850          21.2508
12130  Ecuador  1851          21.2508
12131  Ecuador  1852          21.2508
12132  Ecuador  1853          21.2508
12133  Ecuador  1854          21.2508
Egypt
      Country  Year  Avg_Temperature
12325   Egypt  1850        21.808667
12326   Egypt  1851        22.358917
12327   Egypt  1852        22.324667
12328   Egypt  1853        22.762833
12329   Egypt  1854        22.156250
El Salvador
           Country  Year  Avg_Temperature
12503  El Salvador  1850        24.709917
12504  El Salvador  1851        24.524000
12505  El Salvador  1852        24.511000
12506  El Salvador  1853        24.157083
12507  El Salvador  1854        24.091083
Equatorial Guinea
                 Country  Year  Avg_Temperature
12667  Equatorial Guinea  1850        24.991167
12668  Equatorial Guinea  1851        24.991167
12669  Equatorial Guinea  1852        24.991167
12670  Equatorial Guinea  1853        24.991167
12671  Equatorial Guinea  1854        24.991167
Eritrea
       Country  Year  Avg_Temperature
12831  Eritrea  1850         26.34875
12832  Eritrea  1851         26.34875
12833  Eritrea  1852         26.34875
12834  Eritrea  1853         26.34875
12835  Eritrea  1854         26.34875
Estonia
       Country  Year  Avg_Temperature
13098  Estonia  1850         4.151750
13099  Estonia  1851         4.988500
13100  Estonia  1852         3.876833
13101  Estonia  1853         4.588250
13102  Estonia  1854         5.011417
Ethiopia
        Country  Year  Avg_Temperature
13262  Ethiopia  1850          22.2475
13263  Ethiopia  1851          22.3769
13264  Ethiopia  1852          22.3769
13265  Ethiopia  1853          22.3769
13266  Ethiopia  1854          22.3769
Europe
      Country  Year  Avg_Temperature
13529  Europe  1850         7.308750
13530  Europe  1851         7.755333
13531  Europe  1852         7.902333
13532  Europe  1853         7.416583
13533  Europe  1854         7.646333
Falkland Islands (Islas Malvinas)
                                 Country  Year  Avg_Temperature
13693  Falkland Islands (Islas Malvinas)  1850         5.374333
13694  Falkland Islands (Islas Malvinas)  1851         5.374333
13695  Falkland Islands (Islas Malvinas)  1852         5.374333
13696  Falkland Islands (Islas Malvinas)  1853         5.374333
13697  Falkland Islands (Islas Malvinas)  1854         5.374333
Faroe Islands
             Country  Year  Avg_Temperature
13960  Faroe Islands  1850         6.404500
13961  Faroe Islands  1851         6.659583
13962  Faroe Islands  1852         7.302583
13963  Faroe Islands  1853         6.453417
13964  Faroe Islands  1854         6.632750
Federated States Of Micronesia
                              Country  Year  Avg_Temperature
14124  Federated States Of Micronesia  1850           26.296
14125  Federated States Of Micronesia  1851           26.296
14126  Federated States Of Micronesia  1852           26.296
14127  Federated States Of Micronesia  1853           26.296
14128  Federated States Of Micronesia  1854           26.296
Fiji
      Country  Year  Avg_Temperature
14288    Fiji  1850         24.69575
14289    Fiji  1851         24.69575
14290    Fiji  1852         24.69575
14291    Fiji  1853         24.69575
14292    Fiji  1854         24.69575
Finland
       Country  Year  Avg_Temperature
14555  Finland  1850         0.506667
14556  Finland  1851         1.592167
14557  Finland  1852         0.420750
14558  Finland  1853         1.583583
14559  Finland  1854         1.635667
France
      Country  Year  Avg_Temperature
14822  France  1850        12.217500
14823  France  1851        12.042667
14824  France  1852        13.035583
14825  France  1853        11.826167
14826  France  1854        12.443167
France (Europe)
               Country  Year  Avg_Temperature
15089  France (Europe)  1850         9.810833
15090  France (Europe)  1851         9.616000
15091  France (Europe)  1852        10.816333
15092  France (Europe)  1853         9.332333
15093  France (Europe)  1854        10.083833
French Guiana
             Country  Year  Avg_Temperature

In [2]:
###########################################
#us states avg temperature
import pandas as pd

df2=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\us_states_avg_temp.csv")
df2

         State  Year  Avg_Temperature
0      Alabama  1743        10.722000
1      Alabama  1744        18.451000
2      Alabama  1745        10.895750
3      Alabama  1750        17.653364
4      Alabama  1751        18.363500
...        ...   ...              ...
12068  Wyoming  2009         5.199917
12069  Wyoming  2010         5.756417
12070  Wyoming  2011         5.312250
12071  Wyoming  2012         7.306167
12072  Wyoming  2013         8.041111

[12073 rows x 3 columns]

In [16]:
import pandas as pd

df2=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\us_states_avg_temp.csv")

# Filter the dataset by the year 1850 and later
df2_after_1850 = df[df['Year'] >= 1850]

# Group the filtered data by the country column
grouped_by_country = df2_after_1850.groupby('State')

# Print the first 5 rows of each group
for name, group in grouped_by_country:
    print(name)
    print(group.head(5))

Alabama
       State  Year  Avg_Temperature
102  Alabama  1850        17.272333
103  Alabama  1851        16.893417
104  Alabama  1852        16.844417
105  Alabama  1853        16.802667
106  Alabama  1854        17.614333
Alaska
      State  Year  Avg_Temperature
285  Alaska  1850        -5.789833
286  Alaska  1851        -4.918167
287  Alaska  1852        -5.223833
288  Alaska  1853        -4.429364
289  Alaska  1854        -5.167333
Arizona
       State  Year  Avg_Temperature
464  Arizona  1850        14.857833
465  Arizona  1851        15.062083
466  Arizona  1852        14.652917
467  Arizona  1853        15.686583
468  Arizona  1854        15.542333
Arkansas
        State  Year  Avg_Temperature
711  Arkansas  1850        15.400167
712  Arkansas  1851        15.427167
713  Arkansas  1852        15.038750
714  Arkansas  1853        14.983333
715  Arkansas  1854        16.214083
California
          State  Year  Avg_Temperature
876  California  1850        13.717917
877  California  1851        14.143583
878  California  1852        13.839833
879  California  1853        14.592833
880  California  1854        14.010333
Colorado
         State  Year  Avg_Temperature
1070  Colorado  1850         6.399167
1071  Colorado  1851         6.957333
1072  Colorado  1852         6.015000
1073  Colorado  1853         6.769750
1074  Colorado  1854         7.304500
Connecticut
            State  Year  Avg_Temperature
1336  Connecticut  1850         8.459833
1337  Connecticut  1851         8.471250
1338  Connecticut  1852         8.416917
1339  Connecticut  1853         8.926667
1340  Connecticut  1854         8.770500
Delaware
         State  Year  Avg_Temperature
1602  Delaware  1850        11.629583
1603  Delaware  1851        11.814667
1604  Delaware  1852        11.435417
1605  Delaware  1853        12.161000
1606  Delaware  1854        12.118417
District Of Columbia
                     State  Year  Avg_Temperature
1868  District Of Columbia  1850        11.770917
1869  District Of Columbia  1851        12.014000
1870  District Of Columbia  1852        11.503167
1871  District Of Columbia  1853        12.310500
1872  District Of Columbia  1854        12.503167
Florida
        State  Year  Avg_Temperature
2132  Florida  1850        21.834333
2133  Florida  1851        21.238000
2134  Florida  1852        21.152417
2135  Florida  1853        21.395667
2136  Florida  1854        21.394667
Georgia (State)
                State  Year  Avg_Temperature
2398  Georgia (State)  1850        17.719917
2399  Georgia (State)  1851        17.450250
2400  Georgia (State)  1852        17.468333
2401  Georgia (State)  1853        17.569167
2402  Georgia (State)  1854        17.969917
Hawaii
       State  Year  Avg_Temperature
2562  Hawaii  1883        22.128167
2563  Hawaii  1884        21.789667
2564  Hawaii  1885        21.835250
2565  Hawaii  1886        22.048000
2566  Hawaii  1887        21.786750
Idaho
      State  Year  Avg_Temperature
2722  Idaho  1850         4.980583
2723  Idaho  1851         5.617083
2724  Idaho  1852         4.845750
2725  Idaho  1853         5.511667
2726  Idaho  1854         5.191083
Illinois
         State  Year  Avg_Temperature
2989  Illinois  1850        10.610500
2990  Illinois  1851        10.904917
2991  Illinois  1852        10.481250
2992  Illinois  1853        10.748417
2993  Illinois  1854        11.975333
Indiana
        State  Year  Avg_Temperature
3255  Indiana  1850        10.831583
3256  Indiana  1851        11.004667
3257  Indiana  1852        10.847333
3258  Indiana  1853        11.115833
3259  Indiana  1854        12.075667
Iowa
     State  Year  Avg_Temperature
3522  Iowa  1850         8.300417
3523  Iowa  1851         8.986417
3524  Iowa  1852         8.187583
3525  Iowa  1853         8.236333
3526  Iowa  1854         9.610750
Kansas
       State  Year  Avg_Temperature
3737  Kansas  1850        11.682500
3738  Kansas  1851        12.258583
3739  Kansas  1852        11.385750
3740  Kansas  1853        11.745000
3741  Kansas  1854        12.910333
Kentucky
         State  Year  Avg_Temperature
4003  Kentucky  1850        13.018000
4004  Kentucky  1851        13.097167
4005  Kentucky  1852        13.108250
4006  Kentucky  1853        13.199000
4007  Kentucky  1854        14.182417
Louisiana
          State  Year  Avg_Temperature
4215  Louisiana  1850        19.164000
4216  Louisiana  1851        18.710250
4217  Louisiana  1852        18.501167
4218  Louisiana  1853        18.154250
4219  Louisiana  1854        19.072250
Maine
      State  Year  Avg_Temperature
4481  Maine  1850         3.804000
4482  Maine  1851         3.691083
4483  Maine  1852         3.969333
4484  Maine  1853         3.972417
4485  Maine  1854         3.685417
Maryland
         State  Year  Avg_Temperature
4747  Maryland  1850        11.972917
4748  Maryland  1851        12.190750
4749  Maryland  1852        11.754167
4750  Maryland  1853        12.492083
4751  Maryland  1854        12.651833
Massachusetts
              State  Year  Avg_Temperature
5013  Massachusetts  1850         7.015167
5014  Massachusetts  1851         6.916000
5015  Massachusetts  1852         6.989667
5016  Massachusetts  1853         7.414000
5017  Massachusetts  1854         7.258000
Michigan
         State  Year  Avg_Temperature
5280  Michigan  1850         6.381500
5281  Michigan  1851         6.553250
5282  Michigan  1852         6.316333
5283  Michigan  1853         6.644833
5284  Michigan  1854         7.078417
Minnesota
          State  Year  Avg_Temperature
5547  Minnesota  1850         4.366500
5548  Minnesota  1851         5.021000
5549  Minnesota  1852         4.383833
5550  Minnesota  1853         3.963583
5551  Minnesota  1854         4.977750
Mississippi
            State  Year  Avg_Temperature
5794  Mississippi  1850        17.660917
5795  Mississippi  1851        17.260500
5796  Mississippi  1852        17.095500
5797  Mississippi  1853        16.930500
5798  Mississippi  1854        17.961250
Missouri
         State  Year  Avg_Temperature
6060  Missouri  1850        11.938250
6061  Missouri  1851        12.293417
6062  Missouri  1852        11.736250
6063  Missouri  1853        11.924750
6064  Missouri  1854        13.311167
Montana
        State  Year  Avg_Temperature
6276  Montana  1850         4.691917
6277  Montana  1851         5.320750
6278  Montana  1852         4.586083
6279  Montana  1853         4.871250
6280  Montana  1854         4.990417
Nebraska
         State  Year  Avg_Temperature
6492  Nebraska  1850         8.571000
6493  Nebraska  1851         9.281083
6494  Nebraska  1852         8.359417
6495  Nebraska  1853         8.601167
6496  Nebraska  1854         9.680250
Nevada
       State  Year  Avg_Temperature
6675  Nevada  1850         9.272500
6676  Nevada  1851         9.780167
6677  Nevada  1852         9.216417
6678  Nevada  1853        10.099167
6679  Nevada  1854         9.575750
New Hampshire
              State  Year  Avg_Temperature
6941  New Hampshire  1850         4.973833
6942  New Hampshire  1851         4.846500
6943  New Hampshire  1852         5.031833
6944  New Hampshire  1853         5.314917
6945  New Hampshire  1854         5.025917
New Jersey
           State  Year  Avg_Temperature
7207  New Jersey  1850        10.274500
7208  New Jersey  1851        10.450500
7209  New Jersey  1852        10.122250
7210  New Jersey  1853        10.831833
7211  New Jersey  1854        10.750667
New Mexico
           State  Year  Avg_Temperature
7401  New Mexico  1850        11.338750
7402  New Mexico  1851        11.656583
7403  New Mexico  1852        10.709500
7404  New Mexico  1853        11.716083
7405  New Mexico  1854        12.128667
New York
         State  Year  Avg_Temperature
7667  New York  1850         6.661167
7668  New York  1851         6.686583
7669  New York  1852         6.594917
7670  New York  1853         7.103083
7671  New York  1854         7.189333
North Carolina
               State  Year  Avg_Temperature
7933  North Carolina  1850        14.742833
7934  North Carolina  1851        14.807083
7935  North Carolina  1852        14.727667
7936  North Carolina  1853        15.019667
7937  North Carolina  1854        15.362750
North Dakota
             State  Year  Avg_Temperature
8149  North Dakota  1850         3.983083
8150  North Dakota  1851         4.563083
8151  North Dakota  1852         3.915000
8152  North Dakota  1853         3.706083
8153  North Dakota  1854         4.457167
Ohio
     State  Year  Avg_Temperature
8415  Ohio  1850        10.356667
8416  Ohio  1851        10.509750
8417  Ohio  1852        10.428583
8418  Ohio  1853        10.814917
8419  Ohio  1854        11.374000
Oklahoma
         State  Year  Avg_Temperature
8612  Oklahoma  1850        14.898083
8613  Oklahoma  1851        15.257917
8614  Oklahoma  1852        14.546750
8615  Oklahoma  1853        14.672750
8616  Oklahoma  1854        15.779000
Oregon
       State  Year  Avg_Temperature
8795  Oregon  1850         7.714333
8796  Oregon  1851         8.372000
8797  Oregon  1852         7.638750
8798  Oregon  1853         8.370250
8799  Oregon  1854         7.709500
Pennsylvania
             State  Year  Avg_Temperature
9061  Pennsylvania  1850         8.877083
9062  Pennsylvania  1851         9.048167
9063  Pennsylvania  1852         8.702917
9064  Pennsylvania  1853         9.406083
9065  Pennsylvania  1854         9.621917
Rhode Island
             State  Year  Avg_Temperature
9327  Rhode Island  1850         8.410250
9328  Rhode Island  1851         8.409667
9329  Rhode Island  1852         8.371333
9330  Rhode Island  1853         8.864583
9331  Rhode Island  1854         8.691000
South Carolina
               State  Year  Avg_Temperature
9593  South Carolina  1850        17.091750
9594  South Carolina  1851        17.057417
9595  South Carolina  1852        17.077500
9596  South Carolina  1853        17.235583
9597  South Carolina  1854        17.513833
South Dakota
             State  Year  Avg_Temperature
9809  South Dakota  1850         6.633333
9810  South Dakota  1851         7.357000
9811  South Dakota  1852         6.513917
9812  South Dakota  1853         6.495250
9813  South Dakota  1854         7.446667
Tennessee
           State  Year  Avg_Temperature
10075  Tennessee  1850        14.097667
10076  Tennessee  1851        14.060333
10077  Tennessee  1852        14.007667
10078  Tennessee  1853        14.054167
10079  Tennessee  1854        15.070667
Texas
       State  Year  Avg_Temperature
10269  Texas  1850        17.798500
10270  Texas  1851        17.990667
10271  Texas  1852        17.493833
10272  Texas  1853        17.302167
10273  Texas  1854        17.978333
Utah
      State  Year  Avg_Temperature
10454  Utah  1850         7.957833
10455  Utah  1851         8.438667
10456  Utah  1852         7.736333
10457  Utah  1853         8.638500
10458  Utah  1854         8.534333
Vermont
         State  Year  Avg_Temperature
10720  Vermont  1850         4.742250
10721  Vermont  1851         4.618833
10722  Vermont  1852         4.798500
10723  Vermont  1853         5.097000
10724  Vermont  1854         4.853917
Virginia
          State  Year  Avg_Temperature
10986  Virginia  1850        12.740833
10987  Virginia  1851        12.897750
10988  Virginia  1852        12.674583
10989  Virginia  1853        13.147750
10990  Virginia  1854        13.489750
Washington
            State  Year  Avg_Temperature
11169  Washington  1850         7.209583
11170  Washington  1851         7.920500
11171  Washington  1852         7.207500
11172  Washington  1853         7.736083
11173  Washington  1854         7.169167
West Virginia
               State  Year  Avg_Temperature
11435  West Virginia  1850        10.974833
11436  West Virginia  1851        11.137500
11437  West Virginia  1852        10.983667
11438  West Virginia  1853        11.416417
11439  West Virginia  1854        11.867167
Wisconsin
           State  Year  Avg_Temperature
11702  Wisconsin  1850         5.782250
11703  Wisconsin  1851         6.293583
11704  Wisconsin  1852         5.762167
11705  Wisconsin  1853         5.769167
11706  Wisconsin  1854         6.623250
Wyoming
         State  Year  Avg_Temperature
11909  Wyoming  1850         4.610250
11910  Wyoming  1851         5.254417
11911  Wyoming  1852         4.386750
11912  Wyoming  1853         4.929583
11913  Wyoming  1854         5.267250

In [5]:
import pandas as pd
import numpy as np

# Load the dataset
df2=pd.read_csv(r"C:\Users\john8\Desktop\python\projet dataset\us_states_avg_temp.csv")

# find the minimum year for each country
min_years = df2.groupby('State')['Year'].min()
print(min_years)

# find the minimum year for each country
min_years = df2.groupby('State')['Year'].min()
# count the number of countries with minimum year less than 1850
count = (min_years > 1850).sum()
print(count)

State
Alabama                 1743
Alaska                  1828
Arizona                 1835
Arkansas                1758
California              1849
Colorado                1820
Connecticut             1743
Delaware                1743
District Of Columbia    1743
Florida                 1743
Georgia (State)         1743
Hawaii                  1883
Idaho                   1821
Illinois                1743
Indiana                 1743
Iowa                    1743
Kansas                  1768
Kentucky                1743
Louisiana               1758
Maine                   1743
Maryland                1743
Massachusetts           1743
Michigan                1743
Minnesota               1743
Mississippi             1758
Missouri                1743
Montana                 1768
Nebraska                1768
Nevada                  1828
New Hampshire           1743
New Jersey              1743
New Mexico              1820
New York                1743
North Carolina          1743
North Dakota            1768
Ohio                    1743
Oklahoma                1775
Oregon                  1828
Pennsylvania            1743
Rhode Island            1743
South Carolina          1743
South Dakota            1768
Tennessee               1743
Texas                   1820
Utah                    1822
Vermont                 1743
Virginia                1743
Washington              1828
West Virginia           1743
Wisconsin               1743
Wyoming                 1775
Name: Year, dtype: int64
1

In [15]:
new_dfs2 = []

for State, min_year in min_years.items():
    if min_year > 1850:
        # create a DataFrame with the missing years
        years = pd.DataFrame({'Year': range(1850, min_year)})
        years['State'] = State
        years['Avg_Temperature'] = np.nan

        # filter the original DataFrame for the current country and years >= min_year
        subset = df[(df['State'] == State) & (df['Year'] >= min_year)]

        # combine the new DataFrame and the filtered subset
        new_df2 = pd.concat([years, subset])

        # add the new DataFrame to the list of modified DataFrames
        new_dfs2.append(new_df2)
    else:
        # if min_year <= 1850, no modification is needed, so just add the original DataFrame to the list
        new_dfs2.append(df[df['State'] == State])

# concatenate all modified DataFrames into a single DataFrame
new_df2 = pd.concat(new_dfs2, ignore_index=True)
new_df2

         State  Year  Avg_Temperature
0      Alabama  1743        10.722000
1      Alabama  1744        18.451000
2      Alabama  1745        10.895750
3      Alabama  1750        17.653364
4      Alabama  1751        18.363500
...        ...   ...              ...
12101  Wyoming  2009         5.199917
12102  Wyoming  2010         5.756417
12103  Wyoming  2011         5.312250
12104  Wyoming  2012         7.306167
12105  Wyoming  2013         8.041111

[12106 rows x 3 columns]

In [17]:
# Filter the dataset by the year 1850 and later
new_df_after_1850 = new_df2[new_df2['Year'] >= 1850]

# Group the filtered data by the country column
grouped_by_state = new_df_after_1850.groupby('State')

# Print the first 5 rows of each group
for name, group in grouped_by_state:
    print(name)
    print(group.head(5))

Alabama
       State  Year  Avg_Temperature
102  Alabama  1850        17.272333
103  Alabama  1851        16.893417
104  Alabama  1852        16.844417
105  Alabama  1853        16.802667
106  Alabama  1854        17.614333
Alaska
      State  Year  Avg_Temperature
285  Alaska  1850        -5.789833
286  Alaska  1851        -4.918167
287  Alaska  1852        -5.223833
288  Alaska  1853        -4.429364
289  Alaska  1854        -5.167333
Arizona
       State  Year  Avg_Temperature
464  Arizona  1850        14.857833
465  Arizona  1851        15.062083
466  Arizona  1852        14.652917
467  Arizona  1853        15.686583
468  Arizona  1854        15.542333
Arkansas
        State  Year  Avg_Temperature
711  Arkansas  1850        15.400167
712  Arkansas  1851        15.427167
713  Arkansas  1852        15.038750
714  Arkansas  1853        14.983333
715  Arkansas  1854        16.214083
California
          State  Year  Avg_Temperature
876  California  1850        13.717917
877  California  1851        14.143583
878  California  1852        13.839833
879  California  1853        14.592833
880  California  1854        14.010333
Colorado
         State  Year  Avg_Temperature
1070  Colorado  1850         6.399167
1071  Colorado  1851         6.957333
1072  Colorado  1852         6.015000
1073  Colorado  1853         6.769750
1074  Colorado  1854         7.304500
Connecticut
            State  Year  Avg_Temperature
1336  Connecticut  1850         8.459833
1337  Connecticut  1851         8.471250
1338  Connecticut  1852         8.416917
1339  Connecticut  1853         8.926667
1340  Connecticut  1854         8.770500
Delaware
         State  Year  Avg_Temperature
1602  Delaware  1850        11.629583
1603  Delaware  1851        11.814667
1604  Delaware  1852        11.435417
1605  Delaware  1853        12.161000
1606  Delaware  1854        12.118417
District Of Columbia
                     State  Year  Avg_Temperature
1868  District Of Columbia  1850        11.770917
1869  District Of Columbia  1851        12.014000
1870  District Of Columbia  1852        11.503167
1871  District Of Columbia  1853        12.310500
1872  District Of Columbia  1854        12.503167
Florida
        State  Year  Avg_Temperature
2132  Florida  1850        21.834333
2133  Florida  1851        21.238000
2134  Florida  1852        21.152417
2135  Florida  1853        21.395667
2136  Florida  1854        21.394667
Georgia (State)
                State  Year  Avg_Temperature
2398  Georgia (State)  1850        17.719917
2399  Georgia (State)  1851        17.450250
2400  Georgia (State)  1852        17.468333
2401  Georgia (State)  1853        17.569167
2402  Georgia (State)  1854        17.969917
Hawaii
       State  Year  Avg_Temperature
2562  Hawaii  1850              NaN
2563  Hawaii  1851              NaN
2564  Hawaii  1852              NaN
2565  Hawaii  1853              NaN
2566  Hawaii  1854              NaN
Idaho
      State  Year  Avg_Temperature
2755  Idaho  1850         4.980583
2756  Idaho  1851         5.617083
2757  Idaho  1852         4.845750
2758  Idaho  1853         5.511667
2759  Idaho  1854         5.191083
Illinois
         State  Year  Avg_Temperature
3022  Illinois  1850        10.610500
3023  Illinois  1851        10.904917
3024  Illinois  1852        10.481250
3025  Illinois  1853        10.748417
3026  Illinois  1854        11.975333
Indiana
        State  Year  Avg_Temperature
3288  Indiana  1850        10.831583
3289  Indiana  1851        11.004667
3290  Indiana  1852        10.847333
3291  Indiana  1853        11.115833
3292  Indiana  1854        12.075667
Iowa
     State  Year  Avg_Temperature
3555  Iowa  1850         8.300417
3556  Iowa  1851         8.986417
3557  Iowa  1852         8.187583
3558  Iowa  1853         8.236333
3559  Iowa  1854         9.610750
Kansas
       State  Year  Avg_Temperature
3770  Kansas  1850        11.682500
3771  Kansas  1851        12.258583
3772  Kansas  1852        11.385750
3773  Kansas  1853        11.745000
3774  Kansas  1854        12.910333
Kentucky
         State  Year  Avg_Temperature
4036  Kentucky  1850        13.018000
4037  Kentucky  1851        13.097167
4038  Kentucky  1852        13.108250
4039  Kentucky  1853        13.199000
4040  Kentucky  1854        14.182417
Louisiana
          State  Year  Avg_Temperature
4248  Louisiana  1850        19.164000
4249  Louisiana  1851        18.710250
4250  Louisiana  1852        18.501167
4251  Louisiana  1853        18.154250
4252  Louisiana  1854        19.072250
Maine
      State  Year  Avg_Temperature
4514  Maine  1850         3.804000
4515  Maine  1851         3.691083
4516  Maine  1852         3.969333
4517  Maine  1853         3.972417
4518  Maine  1854         3.685417
Maryland
         State  Year  Avg_Temperature
4780  Maryland  1850        11.972917
4781  Maryland  1851        12.190750
4782  Maryland  1852        11.754167
4783  Maryland  1853        12.492083
4784  Maryland  1854        12.651833
Massachusetts
              State  Year  Avg_Temperature
5046  Massachusetts  1850         7.015167
5047  Massachusetts  1851         6.916000
5048  Massachusetts  1852         6.989667
5049  Massachusetts  1853         7.414000
5050  Massachusetts  1854         7.258000
Michigan
         State  Year  Avg_Temperature
5313  Michigan  1850         6.381500
5314  Michigan  1851         6.553250
5315  Michigan  1852         6.316333
5316  Michigan  1853         6.644833
5317  Michigan  1854         7.078417
Minnesota
          State  Year  Avg_Temperature
5580  Minnesota  1850         4.366500
5581  Minnesota  1851         5.021000
5582  Minnesota  1852         4.383833
5583  Minnesota  1853         3.963583
5584  Minnesota  1854         4.977750
Mississippi
            State  Year  Avg_Temperature
5827  Mississippi  1850        17.660917
5828  Mississippi  1851        17.260500
5829  Mississippi  1852        17.095500
5830  Mississippi  1853        16.930500
5831  Mississippi  1854        17.961250
Missouri
         State  Year  Avg_Temperature
6093  Missouri  1850        11.938250
6094  Missouri  1851        12.293417
6095  Missouri  1852        11.736250
6096  Missouri  1853        11.924750
6097  Missouri  1854        13.311167
Montana
        State  Year  Avg_Temperature
6309  Montana  1850         4.691917
6310  Montana  1851         5.320750
6311  Montana  1852         4.586083
6312  Montana  1853         4.871250
6313  Montana  1854         4.990417
Nebraska
         State  Year  Avg_Temperature
6525  Nebraska  1850         8.571000
6526  Nebraska  1851         9.281083
6527  Nebraska  1852         8.359417
6528  Nebraska  1853         8.601167
6529  Nebraska  1854         9.680250
Nevada
       State  Year  Avg_Temperature
6708  Nevada  1850         9.272500
6709  Nevada  1851         9.780167
6710  Nevada  1852         9.216417
6711  Nevada  1853        10.099167
6712  Nevada  1854         9.575750
New Hampshire
              State  Year  Avg_Temperature
6974  New Hampshire  1850         4.973833
6975  New Hampshire  1851         4.846500
6976  New Hampshire  1852         5.031833
6977  New Hampshire  1853         5.314917
6978  New Hampshire  1854         5.025917
New Jersey
           State  Year  Avg_Temperature
7240  New Jersey  1850        10.274500
7241  New Jersey  1851        10.450500
7242  New Jersey  1852        10.122250
7243  New Jersey  1853        10.831833
7244  New Jersey  1854        10.750667
New Mexico
           State  Year  Avg_Temperature
7434  New Mexico  1850        11.338750
7435  New Mexico  1851        11.656583
7436  New Mexico  1852        10.709500
7437  New Mexico  1853        11.716083
7438  New Mexico  1854        12.128667
New York
         State  Year  Avg_Temperature
7700  New York  1850         6.661167
7701  New York  1851         6.686583
7702  New York  1852         6.594917
7703  New York  1853         7.103083
7704  New York  1854         7.189333
North Carolina
               State  Year  Avg_Temperature
7966  North Carolina  1850        14.742833
7967  North Carolina  1851        14.807083
7968  North Carolina  1852        14.727667
7969  North Carolina  1853        15.019667
7970  North Carolina  1854        15.362750
North Dakota
             State  Year  Avg_Temperature
8182  North Dakota  1850         3.983083
8183  North Dakota  1851         4.563083
8184  North Dakota  1852         3.915000
8185  North Dakota  1853         3.706083
8186  North Dakota  1854         4.457167
Ohio
     State  Year  Avg_Temperature
8448  Ohio  1850        10.356667
8449  Ohio  1851        10.509750
8450  Ohio  1852        10.428583
8451  Ohio  1853        10.814917
8452  Ohio  1854        11.374000
Oklahoma
         State  Year  Avg_Temperature
8645  Oklahoma  1850        14.898083
8646  Oklahoma  1851        15.257917
8647  Oklahoma  1852        14.546750
8648  Oklahoma  1853        14.672750
8649  Oklahoma  1854        15.779000
Oregon
       State  Year  Avg_Temperature
8828  Oregon  1850         7.714333
8829  Oregon  1851         8.372000
8830  Oregon  1852         7.638750
8831  Oregon  1853         8.370250
8832  Oregon  1854         7.709500
Pennsylvania
             State  Year  Avg_Temperature
9094  Pennsylvania  1850         8.877083
9095  Pennsylvania  1851         9.048167
9096  Pennsylvania  1852         8.702917
9097  Pennsylvania  1853         9.406083
9098  Pennsylvania  1854         9.621917
Rhode Island
             State  Year  Avg_Temperature
9360  Rhode Island  1850         8.410250
9361  Rhode Island  1851         8.409667
9362  Rhode Island  1852         8.371333
9363  Rhode Island  1853         8.864583
9364  Rhode Island  1854         8.691000
South Carolina
               State  Year  Avg_Temperature
9626  South Carolina  1850        17.091750
9627  South Carolina  1851        17.057417
9628  South Carolina  1852        17.077500
9629  South Carolina  1853        17.235583
9630  South Carolina  1854        17.513833
South Dakota
             State  Year  Avg_Temperature
9842  South Dakota  1850         6.633333
9843  South Dakota  1851         7.357000
9844  South Dakota  1852         6.513917
9845  South Dakota  1853         6.495250
9846  South Dakota  1854         7.446667
Tennessee
           State  Year  Avg_Temperature
10108  Tennessee  1850        14.097667
10109  Tennessee  1851        14.060333
10110  Tennessee  1852        14.007667
10111  Tennessee  1853        14.054167
10112  Tennessee  1854        15.070667
Texas
       State  Year  Avg_Temperature
10302  Texas  1850        17.798500
10303  Texas  1851        17.990667
10304  Texas  1852        17.493833
10305  Texas  1853        17.302167
10306  Texas  1854        17.978333
Utah
      State  Year  Avg_Temperature
10487  Utah  1850         7.957833
10488  Utah  1851         8.438667
10489  Utah  1852         7.736333
10490  Utah  1853         8.638500
10491  Utah  1854         8.534333
Vermont
         State  Year  Avg_Temperature
10753  Vermont  1850         4.742250
10754  Vermont  1851         4.618833
10755  Vermont  1852         4.798500
10756  Vermont  1853         5.097000
10757  Vermont  1854         4.853917
Virginia
          State  Year  Avg_Temperature
11019  Virginia  1850        12.740833
11020  Virginia  1851        12.897750
11021  Virginia  1852        12.674583
11022  Virginia  1853        13.147750
11023  Virginia  1854        13.489750
Washington
            State  Year  Avg_Temperature
11202  Washington  1850         7.209583
11203  Washington  1851         7.920500
11204  Washington  1852         7.207500
11205  Washington  1853         7.736083
11206  Washington  1854         7.169167
West Virginia
               State  Year  Avg_Temperature
11468  West Virginia  1850        10.974833
11469  West Virginia  1851        11.137500
11470  West Virginia  1852        10.983667
11471  West Virginia  1853        11.416417
11472  West Virginia  1854        11.867167
Wisconsin
           State  Year  Avg_Temperature
11735  Wisconsin  1850         5.782250
11736  Wisconsin  1851         6.293583
11737  Wisconsin  1852         5.762167
11738  Wisconsin  1853         5.769167
11739  Wisconsin  1854         6.623250
Wyoming
         State  Year  Avg_Temperature
11942  Wyoming  1850         4.610250
11943  Wyoming  1851         5.254417
11944  Wyoming  1852         4.386750
11945  Wyoming  1853         4.929583
11946  Wyoming  1854         5.267250

In [19]:
# Fill missing values in Avg_Temperature column using backward filling
new_df2['Avg_Temperature'].fillna(method='bfill', inplace=True)

# Filter the data for years greater than or equal to 1850
new_df_after_1850 = new_df2[new_df2['Year'] >= 1850]

# Convert the Year column to integer data type
new_df_after_1850['Year'] = new_df_after_1850['Year'].astype(int)

# Group the filtered data by the country column
grouped_by_state = new_df_after_1850.groupby('State')

# Print the first 5 rows of each group
for name, group in grouped_by_state:
    print(name)
    print(group.head(5))

# Save the cleaned data to a CSV file
new_df_after_1850.to_csv('cleaned_us_states_avg_temp.csv', index=False)

Alabama
       State  Year  Avg_Temperature
102  Alabama  1850        17.272333
103  Alabama  1851        16.893417
104  Alabama  1852        16.844417
105  Alabama  1853        16.802667
106  Alabama  1854        17.614333
Alaska
      State  Year  Avg_Temperature
285  Alaska  1850        -5.789833
286  Alaska  1851        -4.918167
287  Alaska  1852        -5.223833
288  Alaska  1853        -4.429364
289  Alaska  1854        -5.167333
Arizona
       State  Year  Avg_Temperature
464  Arizona  1850        14.857833
465  Arizona  1851        15.062083
466  Arizona  1852        14.652917
467  Arizona  1853        15.686583
468  Arizona  1854        15.542333
Arkansas
        State  Year  Avg_Temperature
711  Arkansas  1850        15.400167
712  Arkansas  1851        15.427167
713  Arkansas  1852        15.038750
714  Arkansas  1853        14.983333
715  Arkansas  1854        16.214083
California
          State  Year  Avg_Temperature
876  California  1850        13.717917
877  California  1851        14.143583
878  California  1852        13.839833
879  California  1853        14.592833
880  California  1854        14.010333
Colorado
         State  Year  Avg_Temperature
1070  Colorado  1850         6.399167
1071  Colorado  1851         6.957333
1072  Colorado  1852         6.015000
1073  Colorado  1853         6.769750
1074  Colorado  1854         7.304500
Connecticut
            State  Year  Avg_Temperature
1336  Connecticut  1850         8.459833
1337  Connecticut  1851         8.471250
1338  Connecticut  1852         8.416917
1339  Connecticut  1853         8.926667
1340  Connecticut  1854         8.770500
Delaware
         State  Year  Avg_Temperature
1602  Delaware  1850        11.629583
1603  Delaware  1851        11.814667
1604  Delaware  1852        11.435417
1605  Delaware  1853        12.161000
1606  Delaware  1854        12.118417
District Of Columbia
                     State  Year  Avg_Temperature
1868  District Of Columbia  1850        11.770917
1869  District Of Columbia  1851        12.014000
1870  District Of Columbia  1852        11.503167
1871  District Of Columbia  1853        12.310500
1872  District Of Columbia  1854        12.503167
Florida
        State  Year  Avg_Temperature
2132  Florida  1850        21.834333
2133  Florida  1851        21.238000
2134  Florida  1852        21.152417
2135  Florida  1853        21.395667
2136  Florida  1854        21.394667
Georgia (State)
                State  Year  Avg_Temperature
2398  Georgia (State)  1850        17.719917
2399  Georgia (State)  1851        17.450250
2400  Georgia (State)  1852        17.468333
2401  Georgia (State)  1853        17.569167
2402  Georgia (State)  1854        17.969917
Hawaii
       State  Year  Avg_Temperature
2562  Hawaii  1850        22.128167
2563  Hawaii  1851        22.128167
2564  Hawaii  1852        22.128167
2565  Hawaii  1853        22.128167
2566  Hawaii  1854        22.128167
Idaho
      State  Year  Avg_Temperature
2755  Idaho  1850         4.980583
2756  Idaho  1851         5.617083
2757  Idaho  1852         4.845750
2758  Idaho  1853         5.511667
2759  Idaho  1854         5.191083
Illinois
         State  Year  Avg_Temperature
3022  Illinois  1850        10.610500
3023  Illinois  1851        10.904917
3024  Illinois  1852        10.481250
3025  Illinois  1853        10.748417
3026  Illinois  1854        11.975333
Indiana
        State  Year  Avg_Temperature
3288  Indiana  1850        10.831583
3289  Indiana  1851        11.004667
3290  Indiana  1852        10.847333
3291  Indiana  1853        11.115833
3292  Indiana  1854        12.075667
Iowa
     State  Year  Avg_Temperature
3555  Iowa  1850         8.300417
3556  Iowa  1851         8.986417
3557  Iowa  1852         8.187583
3558  Iowa  1853         8.236333
3559  Iowa  1854         9.610750
Kansas
       State  Year  Avg_Temperature
3770  Kansas  1850        11.682500
3771  Kansas  1851        12.258583
3772  Kansas  1852        11.385750
3773  Kansas  1853        11.745000
3774  Kansas  1854        12.910333
Kentucky
         State  Year  Avg_Temperature
4036  Kentucky  1850        13.018000
4037  Kentucky  1851        13.097167
4038  Kentucky  1852        13.108250
4039  Kentucky  1853        13.199000
4040  Kentucky  1854        14.182417
Louisiana
          State  Year  Avg_Temperature
4248  Louisiana  1850        19.164000
4249  Louisiana  1851        18.710250
4250  Louisiana  1852        18.501167
4251  Louisiana  1853        18.154250
4252  Louisiana  1854        19.072250
Maine
      State  Year  Avg_Temperature
4514  Maine  1850         3.804000
4515  Maine  1851         3.691083
4516  Maine  1852         3.969333
4517  Maine  1853         3.972417
4518  Maine  1854         3.685417
Maryland
         State  Year  Avg_Temperature
4780  Maryland  1850        11.972917
4781  Maryland  1851        12.190750
4782  Maryland  1852        11.754167
4783  Maryland  1853        12.492083
4784  Maryland  1854        12.651833
Massachusetts
              State  Year  Avg_Temperature
5046  Massachusetts  1850         7.015167
5047  Massachusetts  1851         6.916000
5048  Massachusetts  1852         6.989667
5049  Massachusetts  1853         7.414000
5050  Massachusetts  1854         7.258000
Michigan
         State  Year  Avg_Temperature
5313  Michigan  1850         6.381500
5314  Michigan  1851         6.553250
5315  Michigan  1852         6.316333
5316  Michigan  1853         6.644833
5317  Michigan  1854         7.078417
Minnesota
          State  Year  Avg_Temperature
5580  Minnesota  1850         4.366500
5581  Minnesota  1851         5.021000
5582  Minnesota  1852         4.383833
5583  Minnesota  1853         3.963583
5584  Minnesota  1854         4.977750
Mississippi
            State  Year  Avg_Temperature
5827  Mississippi  1850        17.660917
5828  Mississippi  1851        17.260500
5829  Mississippi  1852        17.095500
5830  Mississippi  1853        16.930500
5831  Mississippi  1854        17.961250
Missouri
         State  Year  Avg_Temperature
6093  Missouri  1850        11.938250
6094  Missouri  1851        12.293417
6095  Missouri  1852        11.736250
6096  Missouri  1853        11.924750
6097  Missouri  1854        13.311167
Montana
        State  Year  Avg_Temperature
6309  Montana  1850         4.691917
6310  Montana  1851         5.320750
6311  Montana  1852         4.586083
6312  Montana  1853         4.871250
6313  Montana  1854         4.990417
Nebraska
         State  Year  Avg_Temperature
6525  Nebraska  1850         8.571000
6526  Nebraska  1851         9.281083
6527  Nebraska  1852         8.359417
6528  Nebraska  1853         8.601167
6529  Nebraska  1854         9.680250
Nevada
       State  Year  Avg_Temperature
6708  Nevada  1850         9.272500
6709  Nevada  1851         9.780167
6710  Nevada  1852         9.216417
6711  Nevada  1853        10.099167
6712  Nevada  1854         9.575750
New Hampshire
              State  Year  Avg_Temperature
6974  New Hampshire  1850         4.973833
6975  New Hampshire  1851         4.846500
6976  New Hampshire  1852         5.031833
6977  New Hampshire  1853         5.314917
6978  New Hampshire  1854         5.025917
New Jersey
           State  Year  Avg_Temperature
7240  New Jersey  1850        10.274500
7241  New Jersey  1851        10.450500
7242  New Jersey  1852        10.122250
7243  New Jersey  1853        10.831833
7244  New Jersey  1854        10.750667
New Mexico
           State  Year  Avg_Temperature
7434  New Mexico  1850        11.338750
7435  New Mexico  1851        11.656583
7436  New Mexico  1852        10.709500
7437  New Mexico  1853        11.716083
7438  New Mexico  1854        12.128667
New York
         State  Year  Avg_Temperature
7700  New York  1850         6.661167
7701  New York  1851         6.686583
7702  New York  1852         6.594917
7703  New York  1853         7.103083
7704  New York  1854         7.189333
North Carolina
               State  Year  Avg_Temperature
7966  North Carolina  1850        14.742833
7967  North Carolina  1851        14.807083
7968  North Carolina  1852        14.727667
7969  North Carolina  1853        15.019667
7970  North Carolina  1854        15.362750
North Dakota
             State  Year  Avg_Temperature
8182  North Dakota  1850         3.983083
8183  North Dakota  1851         4.563083
8184  North Dakota  1852         3.915000
8185  North Dakota  1853         3.706083
8186  North Dakota  1854         4.457167
Ohio
     State  Year  Avg_Temperature
8448  Ohio  1850        10.356667
8449  Ohio  1851        10.509750
8450  Ohio  1852        10.428583
8451  Ohio  1853        10.814917
8452  Ohio  1854        11.374000
Oklahoma
         State  Year  Avg_Temperature
8645  Oklahoma  1850        14.898083
8646  Oklahoma  1851        15.257917
8647  Oklahoma  1852        14.546750
8648  Oklahoma  1853        14.672750
8649  Oklahoma  1854        15.779000
Oregon
       State  Year  Avg_Temperature
8828  Oregon  1850         7.714333
8829  Oregon  1851         8.372000
8830  Oregon  1852         7.638750
8831  Oregon  1853         8.370250
8832  Oregon  1854         7.709500
Pennsylvania
             State  Year  Avg_Temperature
9094  Pennsylvania  1850         8.877083
9095  Pennsylvania  1851         9.048167
9096  Pennsylvania  1852         8.702917
9097  Pennsylvania  1853         9.406083
9098  Pennsylvania  1854         9.621917
Rhode Island
             State  Year  Avg_Temperature
9360  Rhode Island  1850         8.410250
9361  Rhode Island  1851         8.409667
9362  Rhode Island  1852         8.371333
9363  Rhode Island  1853         8.864583
9364  Rhode Island  1854         8.691000
South Carolina
               State  Year  Avg_Temperature
9626  South Carolina  1850        17.091750
9627  South Carolina  1851        17.057417
9628  South Carolina  1852        17.077500
9629  South Carolina  1853        17.235583
9630  South Carolina  1854        17.513833
South Dakota
             State  Year  Avg_Temperature
9842  South Dakota  1850         6.633333
9843  South Dakota  1851         7.357000
9844  South Dakota  1852         6.513917
9845  South Dakota  1853         6.495250
9846  South Dakota  1854         7.446667
Tennessee
           State  Year  Avg_Temperature
10108  Tennessee  1850        14.097667
10109  Tennessee  1851        14.060333
10110  Tennessee  1852        14.007667
10111  Tennessee  1853        14.054167
10112  Tennessee  1854        15.070667
Texas
       State  Year  Avg_Temperature
10302  Texas  1850        17.798500
10303  Texas  1851        17.990667
10304  Texas  1852        17.493833
10305  Texas  1853        17.302167
10306  Texas  1854        17.978333
Utah
      State  Year  Avg_Temperature
10487  Utah  1850         7.957833
10488  Utah  1851         8.438667
10489  Utah  1852         7.736333
10490  Utah  1853         8.638500
10491  Utah  1854         8.534333
Vermont
         State  Year  Avg_Temperature
10753  Vermont  1850         4.742250
10754  Vermont  1851         4.618833
10755  Vermont  1852         4.798500
10756  Vermont  1853         5.097000
10757  Vermont  1854         4.853917
Virginia
          State  Year  Avg_Temperature
11019  Virginia  1850        12.740833
11020  Virginia  1851        12.897750
11021  Virginia  1852        12.674583
11022  Virginia  1853        13.147750
11023  Virginia  1854        13.489750
Washington
            State  Year  Avg_Temperature
11202  Washington  1850         7.209583
11203  Washington  1851         7.920500
11204  Washington  1852         7.207500
11205  Washington  1853         7.736083
11206  Washington  1854         7.169167
West Virginia
               State  Year  Avg_Temperature
11468  West Virginia  1850        10.974833
11469  West Virginia  1851        11.137500
11470  West Virginia  1852        10.983667
11471  West Virginia  1853        11.416417
11472  West Virginia  1854        11.867167
Wisconsin
           State  Year  Avg_Temperature
11735  Wisconsin  1850         5.782250
11736  Wisconsin  1851         6.293583
11737  Wisconsin  1852         5.762167
11738  Wisconsin  1853         5.769167
11739  Wisconsin  1854         6.623250
Wyoming
         State  Year  Avg_Temperature
11942  Wyoming  1850         4.610250
11943  Wyoming  1851         5.254417
11944  Wyoming  1852         4.386750
11945  Wyoming  1853         4.929583
11946  Wyoming  1854         5.267250

C:\Users\john8\AppData\Local\Temp\ipykernel_20632\2808395508.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_after_1850['Year'] = new_df_after_1850['Year'].astype(int)